# Ignore WordPress core files and directories
/wp-admin/
/wp-includes/

# Exclude all content under /wp-content/ except themes and plugins
/wp-content/*
/wp-content/plugins/
!/wp-content/themes/

# Exclude specific themes
/wp-content/themes/twenty*/
/wp-content/themes/corppix/development/node_modules/

# Exclude WordPress specific files
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Exclude IDE specific files
.idea/

# Exclude other files fron core
.tmb/
app-ads.txt
apple-touch-icon-precomposed.png
apple-touch-icon.png
favicon.ico
