
.row{
  padding: 0;
}
.col-lg-12, 
.col-md-12,
.col-sm-12,
.col-xs-12, 
.col-sm-9{
  padding-left: 0;
  padding-right: 0;
}
.form-group{
  margin-bottom: 20px;
}
.form-horizontal .form-group{
  margin-left: 0;
  margin-right: 0;
}
#jobFormDiv label{
  padding: 0;
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 27px;
  color: rgba(13, 45, 95, 0.4);
}
.required-asterisk{
  font-size: 20px;
  line-height: 27px;
  color: rgba(13, 45, 95, 0.4);
}
#jobFormDiv .form-control,
.form-control{
  border: 2px solid #744BDA;
  border-radius: 10px;
  font-size: 20px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  color: #0D2D5F;
  font-weight: 400;
}
#jobFormDiv .clickableLink{
  font-weight: 400;
  font-size: 20px;
  line-height: 27px !important;
  color: rgba(13, 45, 95, 0.4) !important;
  padding: 0 25px 0 0 !important;
  margin: 0;
  display: inline-block;
  position: relative;
  
}
#jobFormDiv .clickableLink::after{
  content:'';
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.79957 0.779088C6.29841 0.280246 6.97499 0 7.68046 0C8.38593 0 9.0625 0.280246 9.56134 0.779088C10.0602 1.27793 10.3404 1.9545 10.3404 2.65997C10.3404 3.36544 10.0602 4.04202 9.56134 4.54086L4.96043 9.14177C4.81838 9.28387 4.64973 9.39661 4.46411 9.47353C4.27849 9.55046 4.07954 9.59007 3.87861 9.59011C3.47282 9.59018 3.08362 9.42906 2.79663 9.14217C2.50964 8.85529 2.34837 8.46615 2.34829 8.06036C2.34822 7.65457 2.50935 7.26537 2.79623 6.97837L7.25969 2.51412L7.82551 3.07995L3.36126 7.5434C3.29341 7.61125 3.23958 7.6918 3.20286 7.78045C3.16614 7.8691 3.14724 7.96412 3.14724 8.06007C3.14724 8.15603 3.16614 8.25104 3.20286 8.33969C3.23958 8.42835 3.29341 8.5089 3.36126 8.57675C3.42911 8.6446 3.50966 8.69842 3.59831 8.73514C3.68696 8.77186 3.78198 8.79076 3.87793 8.79076C3.97389 8.79076 4.0689 8.77186 4.15755 8.73514C4.2462 8.69842 4.32675 8.6446 4.3946 8.57675L8.99552 3.97583C9.16832 3.80303 9.30539 3.59789 9.39891 3.37211C9.49243 3.14634 9.54057 2.90435 9.54057 2.65997C9.54057 2.41559 9.49243 2.17361 9.39891 1.94783C9.30539 1.72206 9.16832 1.51691 8.99552 1.34411C8.82272 1.17131 8.61757 1.03424 8.3918 0.940719C8.16602 0.847199 7.92404 0.799066 7.67966 0.799066C7.43528 0.799066 7.1933 0.847199 6.96752 0.940719C6.74174 1.03424 6.5366 1.17131 6.3638 1.34411L1.62622 6.08249C1.07664 6.64577 0.771174 7.40294 0.77602 8.1899C0.780865 8.97687 1.09563 9.73022 1.65211 10.2867C2.20859 10.8432 2.96194 11.1579 3.7489 11.1628C4.53586 11.1676 5.29303 10.8622 5.85632 10.3126L10.4572 5.71087L11.0231 6.27669L6.42134 10.8776C5.7062 11.567 4.749 11.9482 3.7557 11.939C2.7624 11.9299 1.81237 11.5312 1.11002 10.8288C0.407675 10.1263 0.00913676 9.17625 0.000155149 8.18294C-0.00882646 7.18964 0.372467 6.2325 1.062 5.51746L5.79957 0.778289V0.779088Z' fill='%230D2D5F'/%3E%3C/svg%3E%0A");
  width: 12px;
  height: 12px;
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#jobFormDiv .secondary{
  font-weight: 400;
  font-size: 20px;
  line-height: 27px !important;
  color: #0D2D5F !important;
  padding: 0 25px 0 0 !important;
  margin: 0;
  display: inline-block;
  position: relative;
}
#jobFormDiv .removeButton, #questionnairesDiv .removeButton{
  color: #0D2D5F !important;
}
#jobFormDiv .form-control#inputNote{
  height: 185px;
  resize: none;
} 
.field-cover-letter .portfolio-wrp{
  margin-bottom: 0;
}
.field-cover-letter{
  margin-bottom: 25px;
}
.field-personal-note{
  margin-bottom: 25px;
}
.privacyPolicy{
  font-size: 16px !important;
  line-height: 18px;
  color: rgba(13, 45, 95, 0.4) !important;
  max-width: 270px;
  margin-left: 0;
}
.form-group.submit-button{
  margin-bottom: 0;
  margin-top: 40px;
}
.applyButton{
  background: #744BDA !important;
  color: #fff;
  border-radius: 100px;
  font-size: 20px;
  line-height: 27px;
  padding: 10px 15px;
  max-width: 245px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  text-transform: capitalize;
  transition: .3s linear;
}
.applyButton:hover{
  background: #0D2D5F !important;
}
.brandColoredButton:hover, .brandColoredButton:focus {
  background: #744BDA !important;
}
#footer{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  transform: scale(0);
  margin-top: -100px;
}
#jobFormDiv .control-tip{
  font-size: 16px;
  line-height: 18px;
}
#jobFormDiv .submit-button .control-tip{
  margin-top: 25px;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width:1030px) {

}
@media screen and (min-width:571px) and (max-width:1030px) {
  .col-lg-12, .col-md-12, .col-sm-12, .col-xs-12, .col-sm-9{
    float: none;
    width: 100%;
  }
  .col-sm-offset-3{
    margin-left: 0;
  }
  #jobFormDiv form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #jobFormDiv .form-group.field-first-name,
  #jobFormDiv .form-group.field-last-name,
  #jobFormDiv .form-group.field-email,
  #jobFormDiv .form-group.field-phone,
  #jobFormDiv .form-group.field-resume,
  #jobFormDiv .form-group.field-linkedin-url,
  #jobFormDiv .form-group.field-website-url,
  #jobFormDiv .form-group.field-cover-letter{
    width: 48%;
  }
  #jobFormDiv .form-group.field-first-name{
    order: 1;
  }
  #jobFormDiv .form-group.field-last-name{
    order: 2;
  }
  #jobFormDiv .form-group.field-email{
    order: 3;
  }
  #jobFormDiv .form-group.field-phone{
    order: 4;
  }
  #jobFormDiv .form-group.field-resume{
    order: 7;
  }
  #jobFormDiv .form-group.field-linkedin-url{
    order: 5;
  }
  #jobFormDiv .form-group.field-website-url{
    order: 6;
  }
  #jobFormDiv .form-group.field-cover-letter{
    order: 8;
  }
  #jobFormDiv .form-group.field-personal-note,
  #jobFormDiv .form-group.privacy-policy-2,
  #jobFormDiv .form-group.submit-button{
    width: 100%;
    order: 9;
  }
  .field-cover-letter{
    margin-bottom: 20px;
  }
  .field-personal-note{
    margin-bottom: 20px;
  }
}
@media screen and (min-width:1px) and (max-width:570px) {
  /*#jobFormDiv .clickableLink,
  #jobFormDiv label{
    font-size: 16px;
    line-height: 22px;
  }
  .field-cover-letter{
    margin-bottom: 20px;
  }
  .field-personal-note{
    margin-bottom: 20px;
  }
  .form-group.submit-button{
    margin-top: 50px;
  }
  .applyButton{
    font-size: 18px;
    line-height: 24px;
    padding: 8px 15px;
  }*/
}
