.error-404-wrapper{
  padding-top: 305px;
  padding-bottom: 505px;
  position: relative;
  overflow: hidden;
  @include break(desktop) {
    padding-top: 150px;
    padding-bottom: 600px;
  }
  .cloud{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9;
    &-1{
      background-image: url("data:image/svg+xml,%3Csvg width='198' height='96' viewBox='0 0 198 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M184.928 65.9301C183.902 65.8776 182.874 65.8776 181.847 65.9301C176.891 65.883 172.002 67.0726 167.622 69.3913C162.39 51.1887 151.885 34.9433 137.43 22.7049C122.976 10.4665 105.22 2.78336 86.404 0.624792C67.5878 -1.53377 48.554 1.92895 31.7036 10.5761C14.8533 19.2233 0.941574 32.6675 -8.27641 49.2125C-15.8002 43.0834 -24.6936 38.8633 -34.1995 36.9113C-43.7054 34.9593 -53.5421 35.3334 -62.8724 38.0016C-72.2026 40.6698 -80.7499 45.5532 -87.7865 52.2359C-94.8231 58.9186 -100.141 67.2027 -103.287 76.383C-104.009 78.6403 -104.186 81.0368 -103.803 83.3758C-103.419 85.7148 -102.487 87.9296 -101.082 89.8382C-99.6764 91.7468 -97.8384 93.295 -95.7187 94.3555C-93.599 95.416 -91.2581 95.9586 -88.888 95.9388H182.678C201.3 95.9042 203.48 67.7646 184.928 65.9301Z' fill='%23F6F2FD'/%3E%3C/svg%3E%0A");
      width: 198px;
      height: 96px;
      left: 0;
      top: 25%;
      @include break(desktop){
        background-image: url("data:image/svg+xml,%3Csvg width='94' height='70' viewBox='0 0 94 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M71.513 35H-27.4865C-34.2828 35 -35.0693 24.7315 -28.3134 24.0442H-27.1842C-25.3766 24.0409 -23.5961 24.4853 -22.0012 25.3379C-20.0885 18.6905 -16.256 12.7592 -10.9864 8.29099C-5.7168 3.82277 0.754166 1.01755 7.61142 0.228654C14.4687 -0.56024 21.4053 0.702485 27.5479 3.85779C33.6905 7.01309 38.7641 11.9198 42.1296 17.9599C44.874 15.7243 48.1165 14.186 51.5814 13.4759C55.0462 12.7658 58.631 12.9049 62.0307 13.8813C65.4303 14.8577 68.5444 16.6426 71.1082 19.0842C73.672 21.5258 75.6097 24.5518 76.7563 27.905C77.0095 28.7263 77.0664 29.5958 76.9222 30.4431C76.778 31.2905 76.4367 32.092 75.9262 32.7827C75.4157 33.4734 74.7503 34.0341 73.9836 34.4193C73.2169 34.8044 72.3706 35.0034 71.513 35Z' fill='%23F6F2FD'/%3E%3Cpath d='M92.1045 70H57.9047C55.5569 70 55.2851 66.4794 57.619 66.2437H58.0091C58.6335 66.2426 59.2486 66.3949 59.7996 66.6873C60.4603 64.4082 61.7843 62.3746 63.6047 60.8426C65.4251 59.3107 67.6605 58.3489 70.0294 58.0784C72.3983 57.8079 74.7946 58.2409 76.9166 59.3227C79.0385 60.4045 80.7912 62.0868 81.9539 64.1577C82.9019 63.3912 84.0221 62.8638 85.219 62.6203C86.416 62.3769 87.6543 62.4245 88.8288 62.7593C90.0032 63.0941 91.079 63.706 91.9647 64.5432C92.8503 65.3803 93.5197 66.4178 93.9158 67.5674C94.0033 67.849 94.023 68.1471 93.9731 68.4376C93.9233 68.7282 93.8054 69.003 93.6291 69.2398C93.4527 69.4766 93.2228 69.6688 92.958 69.8009C92.6931 69.933 92.4007 70.0012 92.1045 70Z' fill='%23F6F2FD'/%3E%3C/svg%3E%0A");
        width: 94px;
        height: 70px;
        top: 97px;
      }
    }
    &-2{
      background-image: url("data:image/svg+xml,%3Csvg width='114' height='37' viewBox='0 0 114 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M108.313 36.189H5.714C-1.3294 36.189 -2.14458 25.5717 4.85701 24.8611H6.0273C7.90061 24.8576 9.74589 25.3171 11.3988 26.1987C13.381 19.3255 17.3529 13.1927 22.8141 8.57267C28.2753 3.95265 34.9816 1.05212 42.0882 0.236422C49.1948 -0.579274 56.3837 0.726351 62.7497 3.98885C69.1156 7.25135 74.3737 12.3248 77.8616 18.5701C80.7058 16.2585 84.0662 14.668 87.657 13.9338C91.2479 13.1995 94.963 13.3433 98.4863 14.3529C102.01 15.3625 105.237 17.208 107.894 19.7326C110.551 22.2571 112.559 25.3859 113.747 28.853C114.01 29.7022 114.069 30.6012 113.919 31.4774C113.77 32.3536 113.416 33.1822 112.887 33.8965C112.358 34.6107 111.669 35.1903 110.874 35.5886C110.079 35.9869 109.202 36.1926 108.313 36.189Z' fill='%23F6F2FD'/%3E%3C/svg%3E%0A");
      width: 114px;
      height: 37px;
      left: 281px;
      top: 17.3%;
      @include break(desktop){
        background-image: url("data:image/svg+xml,%3Csvg width='114' height='52' viewBox='0 0 114 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M159.757 39.8011C159.339 39.7797 158.92 39.7797 158.501 39.8011C156.481 39.7819 154.489 40.2655 152.703 41.2081C150.571 33.8086 146.289 27.2047 140.398 22.2297C134.507 17.2547 127.271 14.1315 119.602 13.254C111.933 12.3765 104.176 13.7841 97.308 17.2993C90.4404 20.8144 84.7705 26.2796 81.0136 33.0052C77.9471 30.5137 74.3225 28.7982 70.4482 28.0047C66.5739 27.2112 62.5648 27.3633 58.7622 28.4479C54.9595 29.5326 51.4759 31.5177 48.608 34.2343C45.7402 36.9508 43.5728 40.3184 42.2907 44.0502C41.9962 44.9678 41.9242 45.9421 42.0804 46.8929C42.2367 47.8437 42.6167 48.744 43.1894 49.5199C43.7622 50.2957 44.5112 50.9251 45.3751 51.3562C46.2391 51.7873 47.1931 52.0078 48.1591 51.9998H158.84C166.429 51.9857 167.318 40.5468 159.757 39.8011Z' fill='%23F6F2FD'/%3E%3Cpath d='M2.09505 13H39.8948C42.4898 13 42.7901 9.18597 40.2106 8.9307H39.7794C39.0893 8.92947 38.4094 9.09453 37.8004 9.41121C37.0702 6.9422 35.6068 4.73913 33.5948 3.07951C31.5828 1.41989 29.112 0.377946 26.4938 0.0849286C23.8756 -0.208089 21.227 0.260923 18.8817 1.43289C16.5363 2.60486 14.5992 4.42737 13.3142 6.67083C12.2663 5.84045 11.0282 5.2691 9.7053 5.00534C8.38237 4.74159 7.01363 4.79325 5.71557 5.15592C4.4175 5.51859 3.22849 6.18154 2.24958 7.08841C1.27067 7.99528 0.53086 9.11924 0.0930422 10.3647C-0.00362611 10.6698 -0.025367 10.9927 0.0296893 11.3074C0.0847456 11.6222 0.215084 11.9199 0.409995 12.1764C0.604905 12.433 0.858973 12.6412 1.15171 12.7843C1.44445 12.9274 1.7676 13.0013 2.09505 13V13Z' fill='%23F6F2FD'/%3E%3C/svg%3E%0A");
        width: 114px;
        height: 52px;
        right: 0;
        left: auto;
        top: 80px;
      }
    }
    &-3{
      background-image: url("data:image/svg+xml,%3Csvg width='166' height='76' viewBox='0 0 166 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M228.696 52.186C227.884 52.1444 227.07 52.1444 226.258 52.186C222.335 52.1487 218.465 53.0903 214.998 54.9256C210.857 40.5176 202.541 27.6589 191.1 17.9717C179.659 8.28461 165.605 2.20312 150.711 0.494544C135.818 -1.21404 120.752 1.52683 107.414 8.37137C94.0765 15.2159 83.0649 25.8575 75.7686 38.9534C69.8132 34.102 62.7738 30.7616 55.2495 29.2166C47.7252 27.6715 39.9392 27.9676 32.554 30.0796C25.1688 32.1916 18.4033 36.0569 12.8335 41.3465C7.2638 46.6361 3.05451 53.1933 0.564564 60.4598C-0.00742531 62.2465 -0.147159 64.1435 0.156223 65.9949C0.459604 67.8463 1.19762 69.5993 2.30996 71.1101C3.42231 72.6208 4.87709 73.8462 6.5549 74.6856C8.23272 75.525 10.0856 75.9545 11.9617 75.9389H226.916C241.655 75.9115 243.381 53.638 228.696 52.186Z' fill='%23F6F2FD'/%3E%3C/svg%3E%0A");
      width: 166px;
      height: 76px;
      right: 0;
      top: 15.5%;
      @include break(desktop){
        display: none;
      }
    }
    &-4{
      background-image: url("data:image/svg+xml,%3Csvg width='79' height='25' viewBox='0 0 79 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.928 24.9976H74.7986C79.6638 24.9976 80.2269 17.6636 75.3905 17.1728H74.5822C73.2882 17.1704 72.0135 17.4878 70.8718 18.0967C69.5026 13.3491 66.759 9.11285 62.9867 5.92157C59.2143 2.73029 54.582 0.726751 49.6731 0.163309C44.7642 -0.400133 39.7984 0.501727 35.4012 2.7553C31.0039 5.00887 27.3719 8.51336 24.9626 12.8273C22.998 11.2306 20.6768 10.1319 18.1964 9.62474C15.716 9.11758 13.1498 9.2169 10.7161 9.91428C8.28235 10.6117 6.05307 11.8864 4.21772 13.6303C2.38238 15.3741 0.995305 17.5353 0.174444 19.9302C-0.00679857 20.5168 -0.0475604 21.1378 0.0556643 21.743C0.158889 22.3482 0.40326 22.9206 0.768696 23.414C1.13413 23.9073 1.61048 24.3077 2.15934 24.5828C2.70819 24.8579 3.31406 25 3.928 24.9976Z' fill='%23F6F2FD'/%3E%3C/svg%3E%0A");
      width: 79px;
      height: 25px;
      right: 183px;
      top: 26.6%;
      @include break(desktop){
        display: none;
      }
    }
  }
  &__container{
    position: relative;
    z-index: 100;
  }
  &__404{
    font-size: 100px;
    line-height: 62px;
    font-weight: bold;
    margin-bottom: 40px;
    @include break(tablet){
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 20px;
    }
  }
  &__text{
    margin-bottom: 40px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    color: $black;
    @include break(desktop){
      max-width: 275px;
      font-size: 22px;
      line-height: 26px;
    }
  }
  &__wrapper-btn{
    position: relative;
    &::before{
      content: '';
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='223' height='38' viewBox='0 0 223 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1528_13158)'%3E%3Cpath d='M-223 1C-167.343 1 -167.343 36.5072 -111.641 36.5072C-55.939 36.5072 -55.9388 1 -0.236938 1C55.4649 1 55.4648 36.5072 111.167 36.5072C166.869 36.5072 166.869 1 222.571 1C278.272 1 278.272 36.5072 333.93 36.5072C389.587 36.5072 389.632 1 445.334 1C501.035 1 501.035 36.5072 556.737 36.5072C612.439 36.5072 612.439 1 668.141 1C723.843 1 723.843 36.5072 779.5 36.5072C835.158 36.5072 835.202 1 890.904 1C946.606 1 946.606 36.5072 1002.31 36.5072C1058.01 36.5072 1058.01 1 1113.71 1C1169.41 1 1169.41 36.5072 1225.11 36.5072C1280.82 36.5072 1280.82 1 1336.52 1C1392.22 1 1392.22 36.5072 1447.92 36.5072C1503.62 36.5072 1503.67 1 1559.37 1C1615.07 1 1615.07 36.5072 1670.77 36.5072' stroke='%23744BDA' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1528_13158'%3E%3Crect width='223' height='38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-position: top left;
      position: absolute;
      height: 38px;
      background-repeat: repeat-x;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      top: 15px;
      z-index: 10;
      @include break(desktop){
        background-image: url("data:image/svg+xml,%3Csvg width='89' height='17' viewBox='0 0 89 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1702_13809)'%3E%3Cpath d='M-354 1C-331.899 1 -331.899 15.0996 -309.78 15.0996C-287.662 15.0996 -287.662 1 -265.543 1C-243.424 1 -243.424 15.0996 -221.306 15.0996C-199.187 15.0996 -199.187 1 -177.068 1C-154.949 1 -154.949 15.0996 -132.848 15.0996C-110.747 15.0996 -110.73 1 -88.611 1C-66.4923 1 -66.4924 15.0996 -44.3737 15.0996C-22.255 15.0996 -22.255 1 -0.136354 1C21.9823 1 21.9824 15.0996 44.0834 15.0996C66.1845 15.0996 66.2021 1 88.3208 1C110.439 1 110.44 15.0996 132.558 15.0996C154.677 15.0996 154.677 1 176.796 1C198.914 1 198.914 15.0996 221.033 15.0996C243.152 15.0996 243.152 1 265.27 1C287.389 1 287.389 15.0996 309.508 15.0996C331.626 15.0996 331.644 1 353.763 1C375.881 1 375.881 15.0996 398 15.0996' stroke='%23744BDA' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1702_13809'%3E%3Crect width='89' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        height: 17px;
        top: auto;
        bottom: -97px;
      }
    }
    .btn-primary{
      z-index: 11;
      position: relative;
    }
  }
  .wave{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9;
    background-image: url("data:image/svg+xml,%3Csvg width='225' height='38' viewBox='0 0 225 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 36.5072C56.7019 36.5072 56.7017 1 112.404 1C168.105 1 168.105 36.5072 223.807 36.5072' stroke='%23744BDA' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    width: 225px;
    height: 38px;
    @include break(desktop){
      background-image: url("data:image/svg+xml,%3Csvg width='284' height='25' viewBox='0 0 284 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M282.807 23.4547C247.609 23.4547 247.581 1 212.355 1C177.129 1 177.129 23.4547 141.903 23.4547C106.678 23.4547 106.678 1 71.452 1C36.2262 1 36.2262 23.4547 1.00042 23.4547' stroke='%23744BDA' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      width: 284px; 
      height: 25px;
    }
    &-1{
      left: -52px;
      bottom: 39%;
      @include break(desktop){
        left: -181px;
        bottom: 216px;
      }
    }
    &-2{
      right: -112px;
      bottom: 37.4%;
      @include break(desktop){
        bottom: 430px;
        right: -121px;
      }
    }
    &-3{
      left: 404px;
      bottom: 32.7%;
      @include break(desktop){
        display: none;
      }
    }
    &-4{
      right: 277px;
      bottom: 10%;
      @include break(desktop){
        display: none;
      }
    }
  }
  .fin{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 8;
    &-1{
      background-image: url("data:image/svg+xml,%3Csvg width='448' height='321' viewBox='0 0 448 321' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M345.193 0C326.967 119.517 340.549 168.354 383.386 241.25H95C161.481 135.022 207.481 78.8213 345.193 0Z' fill='%23D8CEF5'/%3E%3Cpath d='M112.404 183C56.7017 183 56.6575 218.507 1 218.507V321H223.807H446.615V218.507C390.913 218.507 390.913 183 335.211 183C279.509 183 279.509 218.507 223.807 218.507C168.106 218.507 168.105 183 112.404 183Z' fill='white'/%3E%3Cpath d='M1 218.507C56.6575 218.507 56.7017 183 112.404 183C168.105 183 168.106 218.507 223.807 218.507C279.509 218.507 279.509 183 335.211 183C390.913 183 390.913 218.507 446.615 218.507' stroke='%23744BDA' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      width: 448px;
      height: 321px;
      right: 126px;
      bottom: 177px;
      @include break(desktop){
        background-image: url("data:image/svg+xml,%3Csvg width='277' height='203' viewBox='0 0 277 203' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M58.1385 0C69.6649 75.5824 61.0755 106.467 33.9851 152.566H216.36C174.318 85.3875 145.228 49.8465 58.1385 0Z' fill='%23D8CEF5'/%3E%3Cpath d='M205.355 115.729C240.581 115.729 240.609 138.183 275.807 138.183V203H134.904H-5.99957V138.183C29.2262 138.183 29.2262 115.729 64.452 115.729C99.6778 115.729 99.6777 138.183 134.903 138.183C170.129 138.183 170.129 115.729 205.355 115.729Z' fill='white'/%3E%3Cpath d='M275.807 138.183C240.609 138.183 240.581 115.729 205.355 115.729C170.129 115.729 170.129 138.183 134.903 138.183C99.6777 138.183 99.6778 115.729 64.452 115.729C29.2262 115.729 29.2262 138.183 -5.99958 138.183' stroke='%23744BDA' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        width: 277px;
        height: 203px;
        bottom: 253px;
        right: auto;
        left: 20%;
      }
      @include break(s-small){
        left:0;
      }
    }
    &-2{
      background-image: url("data:image/svg+xml,%3Csvg width='448' height='321' viewBox='0 0 448 321' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M102.422 0C120.648 119.517 107.066 168.354 64.2283 241.25H352.615C286.134 135.022 240.134 78.8213 102.422 0Z' fill='%23D8CEF5'/%3E%3Cpath d='M335.211 183C390.913 183 390.957 218.507 446.615 218.507V321H223.807H1V218.507C56.7018 218.507 56.7018 183 112.404 183C168.106 183 168.105 218.507 223.807 218.507C279.509 218.507 279.509 183 335.211 183Z' fill='white'/%3E%3Cpath d='M446.615 218.507C390.957 218.507 390.913 183 335.211 183C279.509 183 279.509 218.507 223.807 218.507C168.105 218.507 168.106 183 112.404 183C56.7018 183 56.7019 218.507 1 218.507' stroke='%23744BDA' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      width: 448px;
      height: 321px;
      left: 90px;
      bottom: 60px;
      @include break(desktop){
        background-image: url("data:image/svg+xml,%3Csvg width='284' height='203' viewBox='0 0 284 203' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M218.667 0C207.141 75.5824 215.73 106.467 242.821 152.566H60.4453C102.488 85.3875 131.578 49.8465 218.667 0Z' fill='%23D8CEF5'/%3E%3Cpath d='M71.4515 115.729C36.2257 115.729 36.1977 138.183 1 138.183V203H141.903H282.806V138.183C247.58 138.183 247.58 115.729 212.355 115.729C177.129 115.729 177.129 138.183 141.903 138.183C106.677 138.183 106.677 115.729 71.4515 115.729Z' fill='white'/%3E%3Cpath d='M1 138.183C36.1977 138.183 36.2257 115.729 71.4515 115.729C106.677 115.729 106.677 138.183 141.903 138.183C177.129 138.183 177.129 115.729 212.355 115.729C247.58 115.729 247.58 138.183 282.806 138.183' stroke='%23744BDA' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        width: 284px;
        height: 203px;
        bottom: 50px;
        right: 20%;
        left: auto;
      }
      @include break(s-small){
        right: 7px;
      }
    }
  }
}