.block-seo-step7-section {
	text-align  : center;
	padding-top : 60px;

	.block-seo-step7 {
		.block-seo-step7-title {
			font-size     : 50px;
			line-height   : 67.5px;
			margin-bottom : 20px;
			@media (max-width : 1470px) {
				font-size   : 40px;
				line-height : 50px;
			}
			@media (max-width : 991px) {
				font-size   : 30px;
				line-height : 35px;
			}
		}

		.block-seo-step7-wrap-content {
			display     : flex;
			align-items : center;
			overflow    : auto;
			@media (max-width : 991px) {
				flex-wrap       : wrap;
				justify-content : center;
				margin-top      : 28px;
			}

			.block-seo-step7__text {
					text-align: left;
					flex: 1;
					margin-right: 20px;
					margin-bottom:20px;
				@media only screen and (max-width: 991px){
					order:3;
					flex: inherit;
					font-size:16px;
					line-height:21.6px;
					width:95%;
					display: flex;
					justify-content: center;
					margin: 0 auto;
					flex-direction: column;
					padding-top: 60px;
				}
					p{
						font-size: 35px;
						line-height: 47.25px;
						margin-bottom:0 !important;
						@media only screen and (max-width: 1470px){
							font-size: 25px;
							line-height: 35px;
						}
						@media only screen and (max-width: 1199px){
							font-size: 22px;
							line-height: 1.3;
						}
						@media only screen and (max-width: 991px){
							font-size: 16px;
							line-height: 22px;
							text-align:left;
						}

					}
					span{
						text-align:left;
						font-size: 35px;
						line-height: 47.25px;
						@media only screen and (max-width: 1470px){
							font-size: 25px;
							line-height: 35px;
						}
						@media only screen and (max-width: 1199px){
							font-size: 22px;
							line-height: 1.3;
						}
						@media only screen and (max-width: 991px){
							font-size: 16px;
							line-height: 22px;
						}

					}

					@media only screen and (max-width: 1199px){
						font-size: 20px;
						line-height: 1.3;
					}
					@media only screen and (max-width: 991px){
						font-size: 16px;
						line-height: 21.6px;
					}
					ul{
						font-size: 35px;
						line-height: 47.25px;
						margin-top: 40px;
						margin-bottom: 40px;
						@media only screen and (max-width: 991px) {
							display: flex;
							flex-direction: column;
							justify-content: left;
							align-self: flex-start;
							font-size: 16px;
							line-height: 21.6px;
							margin-top: 15px;
							margin-bottom: 15px;
						}
					}

					ul li{
						font-size: 35px;
						line-height: 47px;
						text-align:left;
						@media only screen and (max-width: 1470px){
							font-size: 25px;
							line-height: 35px;
						}
						@media only screen and (max-width: 1199px){
							font-size: 20px;
							line-height: 1.3;
						}
						@media only screen and (max-width: 991px) {
							font-size: 16px;
							line-height: 21.6px;
						}
						&::after{
							top: 19px;
							@media only screen and (max-width: 991px){
								top: 9px;
							}
						}
						span{
							@media only screen and (max-width: 991px) {
								font-size: 16px;
								line-height: 21.6px;
							}
						}
					}


					@media (max-width: 991px) {

				}
			}
			.block-seo-step7__image {
				flex: 0 0 auto;
				width: 46%;
				@media (max-width: 991px) {
					width : 235px;
					order:2;
				}
				img{
					width: 100%;
					height: auto;
					max-width: 100%;
				}
			}

		}
		.block-seo-step7__wrap{
			display: flex;
			justify-content: left;
			.block-seo-step7__btn{
				appearance: none;
				background: #744BDA;
				border-radius: 100px;
				display: inline-flex;
				align-items: center;
				cursor: pointer;
				justify-content: center;
				padding: 12px 30px;
				font-size: 30px;
				line-height: 38px;
				color: #FFFFFF;
				text-decoration: none;
				border: none;
				text-align: center;
				transition: background-color 0.4s ease;
				margin-top:20px;
				margin-bottom:20px;
				@media only screen and (max-width: 1199px) {
					font-size: 18px;
					line-height: 24px;
					padding: 7px 28px;
				}
			}
		}
	}
}


.background-white .block-seo-step7__btn, .background-gray .block-seo-step7__btn, .background-violet .block-seo-step7__btn{
	color:white !important;
}

.background-purple .block-seo-step7__btn{
	color:#744BDA !important;
	background-color:white !important;
}
.flip-flop{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:0 !important;
	flex-direction: row-reverse;
	@media (max-width: 991px) {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column-reverse;
	}
}
.block-seo-step7-wrap-content.flip-flop{
	.block-seo-step7__text{
		margin-left:20px;
		margin-right:0;
	}
}