.faq {
	&--seo {
		margin-top: 40px;
		margin-bottom: 110px;
		@media (max-width: 991px){
			margin-top: 48px;
			margin-bottom: 78px;
		}
	}

	&__title {
		cursor: pointer;
		position: relative;
		font-size: 50px;
		line-height: 67.5px;
		@media (max-width: 1470px){
			font-size: 40px;
			line-height: 35px;
		}
		@media (max-width: 991px){
			font-size: 30px;
			line-height: 40.5px;
			text-align: center;
		}
	}

	&__section-title {
		text-align: left;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 84px;
		font-size: 35px;
		line-height: 47.2px;
		cursor: pointer;
		position: relative;
		margin-bottom: 0;
		@media (max-width: 1470px){
			font-size: 30px;
			line-height: 40px;
		}
		@media (max-width: 991px){
			padding-left: 63px;
			font-size: 24px;
			line-height: 32.4px;
			margin-left: -19px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			background-color: $purple;
			transition: transform .3s ease-in-out;
		}
		&::before {
			width: 25px;
			height: 3px;
			top: 46px;
			left: 27px;
			@media (max-width: 991px){
				width: 16px;
				top: 30px;
				left: 31px;
			}
		}
		&::after {
			height: 25px;
			width: 3px;
			top: 36px;
			left: 38px;
			@media (max-width: 991px){
				height: 16px;
				top: 24px;
			}
		}
		&.active {
			&::after {
				transform: rotate(90deg);
			}
		}
	}

	&__content {
		max-height: 0;
		overflow: hidden;
		transition: max-height .8s ease-in-out;
		padding-left: 84px;
		@media (max-width: 991px){
			padding-left: 45px;
		}
	}

	&__item {
		margin-bottom: 50px;
	}

	&__question {
		margin-bottom: 20px;
		color: $purple;
		font-size: 32px;
		font-weight: 700;
		line-height: 43.2px;
		text-align: left;
		@media (max-width: 1470px){
			font-size: 25px;
			line-height: 35px;
		}
		@media (max-width: 991px){
			font-size: 20px;
			line-height: 27px;
			text-align: left;
		}
	}

	&__answer {
		font-size: 20px;
		line-height: 27px;
		color: $black;
		margin-bottom: 10px;
		p{
			font-size: 30px;
			line-height: 35px;
			@media (max-width: 1470px){
				font-size: 20px;
				line-height: 25px;
			}
			@media (max-width: 991px){
				font-size: 16px;
				line-height: 22px;
			}
		}
	}

	&__content.active {
		max-height: 100%;
	}
}