.check-cross-list{
  margin-top: 100px;
  margin-bottom: 100px;
  @include break(medium){
    margin-top: 60px;
    margin-bottom: 80px;
  }
  &__container{
    position: relative;
    @include break(medium){
      padding-left: 35px;
      padding-right: 35px;
    }
    .bubble{
      position: absolute;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      @include break(desktop){
        display: none;
      }
      &-1{
        left: -87px;
        top: -64px;
        background-image: url("data:image/svg+xml,%3Csvg width='31' height='64' viewBox='0 0 31 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='57' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='15.5' cy='15.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        width: 31px;
        height: 64px;
      }
    }
  }
  &__wrapper{
    &:not(:last-child){
      margin-bottom: 32px;
    }
  }
  &__title{
    font-size: 35px;
    line-height: 47px;
    text-align: left;
    margin-bottom: 32px;
    @include break(small){
      font-size: 20px;
      line-height: 26px;
    }
  }
  &__content{
    max-width: 915px;
    p, li{
      font-size: 20px;
      line-height: 27px;
      @include break(small){
        font-size: 16px;
        line-height: 22px;
        min-height: 41px;
        display: flex;  
        align-items: center;
      }
      &:not(:last-child){
        margin-bottom: 26px;
        @include break(small){
          margin-bottom: 12px;
        }
      }
    }
    ul{
      li{
        padding-left: 55px;
        position: relative;
        &::after{
          display: none;
        }
        &::before{
          content: '';
          display: block;
          position: absolute;
          left: 7px;
          top: -1px;
          width: 29px;
          height: 29px;
          background-position: center;
          background-repeat: no-repeat;
          @include break(small){
            top: 7px;
          }
        }
      }
    }
    &-check{
      ul{
        li::before{
          background-image: url("data:image/svg+xml,%3Csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 27.5C21.9558 27.5 28 21.4558 28 14C28 6.54416 21.9558 0.5 14.5 0.5C7.04416 0.5 1 6.54416 1 14C1 21.4558 7.04416 27.5 14.5 27.5Z' fill='white'/%3E%3Cpath d='M10 15.1898L12.8393 18.5L18 10.5' stroke='%230D2D5F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.5 26.5C21.4036 26.5 27 20.9036 27 14C27 7.09644 21.4036 1.5 14.5 1.5C7.59644 1.5 2 7.09644 2 14C2 20.9036 7.59644 26.5 14.5 26.5Z' stroke='%230D2D5F' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &-cross{
      ul{
        li::before{
          background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='18.1924' y='9' width='3' height='13' rx='1.5' transform='rotate(45 18.1924 9)' fill='%23707070'/%3E%3Crect x='20.3145' y='18.1924' width='3' height='13' rx='1.5' transform='rotate(135 20.3145 18.1924)' fill='%23707070'/%3E%3Cpath d='M14.5 27C21.4036 27 27 21.4036 27 14.5C27 7.59644 21.4036 2 14.5 2C7.59644 2 2 7.59644 2 14.5C2 21.4036 7.59644 27 14.5 27Z' stroke='%23707070' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}