.content-full-width-block {
	position : relative;
	z-index  : 20;
	margin  : 80px 0 45px;
	@include break(large1370) {
		margin  : 45px 0;
	}
	@include break(tablet) {
		margin  : 45px 0 60px;
	}
	&.small-text{
		.content-full-width-block__content{
			max-width: 836px;
			margin-left: 0;
		}
		th,
		td,
		li,
		p{
			font-size: 20px;
			line-height: 27px;
			@include break(tablet) {
				font-size: 16px;
				line-height: 22px;
			}
		}
		li{
      margin-bottom: 0;
      padding-left: 30px;
      &::after{
        width: 6px;
        height: 6px;
        background-color: $black;
        left: 12px;
        top: 8px;
      }
    }
    ol{
      li{
        margin-left: 30px;
        padding-left: 0;
      }
    }
	}
	&__content{
		max-width: 1035px;
		margin-left: auto;
		margin-right: auto;
		ul,ol{
			margin-bottom: 20px;
		}
		a:not(.btn-primary){
			text-decoration: none;
			position: relative;
			display: inline-block;
			&::before{
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				left: 0;
				top: 100%;
				background-color: $purple;
				transition: .3s linear;
			}
			&:hover::before{
				width: 0;
			}
		}
		table{
			border-collapse: collapse;
			th,
			td{
				padding: 10px;
				border:  1px solid $navy;
			}
		}
	}
	.link-wrapper{
    display: block;
    margin-top: 57px;
		@include break(tablet) {
			margin-top: 30px;
		}
	}
}
.content-style-block{
	&-fish{
		.container{
			.bubble-1{
				content: '';
				display: block;
				width: 126px;
				height: 141px;
				background-image: url("data:image/svg+xml,%3Csvg width='108' height='141' viewBox='0 0 108 141' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='101' cy='7' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='15.5' cy='125.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				position: absolute;
				right: 0;
				bottom: -80px;
				z-index: 9;
				@include break(desktop){
					right: 15px;
				}
				@include break(small){
					display: none;
				}
			}
			.bubble-2{
				content: '';
				display: block;
				width: 61px;
				height: 119px;
				background-image: url("data:image/svg+xml,%3Csvg width='61' height='119' viewBox='0 0 61 119' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='34' cy='7' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='54' cy='112' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='15.5' cy='70.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				background-size: contain;
				left: 300px;
				bottom: -50px;
				z-index: 9;
				@include break(desktop){
					left: 15px;
				}
				@include break(small){
					display: none;
				}
			}
			.fish-1{
				content: '';
				display: block;
				width: 71px;
				height: 33px;
				background-image: url("data:image/svg+xml,%3Csvg width='71' height='33' viewBox='0 0 71 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8652 16.5282C19.8652 16.5282 35.4089 31.0143 47.9643 32.437C61.5731 33.9676 70.8392 25.3017 70.8392 16.5282C70.8392 7.75457 61.0357 -2.61424 47.9643 0.597711C35.6884 3.63721 19.8652 16.5282 19.8652 16.5282Z' fill='%23D8CEF5'/%3E%3Cpath d='M27.6262 16.5065L0 0.532959V32.5016L27.6262 16.5065Z' fill='%23D8CEF5'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				position: absolute;
				right: -18px;
				bottom: -36px;
				z-index: 9;
				@include break(desktop){
					right: 15px;
				}
				@include break(small){
					display: none;
				}
			}
		}
	}
	&-bubbles{
		.container{
			position: relative;
			.bubble-1{
				display: block;
				width: 55px;
				height: 79px;
				background-image: url("data:image/svg+xml,%3Csvg width='55' height='79' viewBox='0 0 55 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8.83451' cy='69.8733' r='6.75' transform='rotate(-105 8.83451 69.8733)' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='35.9836' cy='18.9835' r='15.25' transform='rotate(-105 35.9836 18.9835)' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				position: absolute;
				right: 0;
				top: 20px;
				left: -46px;
				z-index: 9;
				@include break(small){
					display: none;
				}
			}
			.bubble-2{
				content: '';
				display: block;
				width: 58px;
				height: 106px;
				background-image: url("data:image/svg+xml,%3Csvg width='58' height='106' viewBox='0 0 58 106' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='51' cy='64' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='31' cy='99' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='15.5' cy='15.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				background-size: contain;
				right: -40px;
				bottom: -35px;
				z-index: 9;
				@include break(small){
					display: none;
				}
			}
		}
	}
}
.privacy-policy{
	.content-full-width-block{
		margin-top: 20px;
	}
	.content-full-width-block {
		margin-bottom: 245px;
		@include break(desktop){
			margin-bottom: 125px;
		}
		&__container{
			@include break(tablet){
				padding-left: 35px;
				padding-right: 35px;
			}
		}
	}
}