.cruising-section{
  background-color: $white;
  padding-top: 70px;
  padding-bottom: 165px;
  text-align: center;
  overflow: hidden;
  @include break(large1470){
		padding-top: 35px;
		padding-bottom:65px;
	}
  @include break(large1370){
    padding-bottom:40px;
  }
	@include break(medium){
		padding-top: 30px;
		padding-bottom: 40px;
	}
  &__title{
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 15px;
    font-weight: bold;
    @include break(tablet) {
      font-size: 30px;
      line-height: 41px;
      margin-bottom: 10px;
    }
  }
  &__text{
    font-size: 35px;
    line-height: 47px;
    margin-bottom: 140px;
    @include break(large1470){
      font-size: 30px;
      line-height: 36px;
    }
    @include break(tablet) {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 80px;
    }
  }
  &__boat{
    width:311px;
    text-align: left;
    margin-bottom: -20px;
    margin-top: 140px;
    padding-right: 42px;
    padding-left: 15px;
    padding-top: 76px;
    position: relative;
    transition: .8s linear;
    @include break(large1470){
      margin-top: 80px;
    }
    @include break(large1370){
      margin-top: 50px;
    }
    &::after,
    &::before{
      content: '';
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &::before{
      background-image: url("data:image/svg+xml,%3Csvg width='67' height='22' viewBox='0 0 67 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.37473 21.3472H63.5846C67.7074 21.3472 68.1982 15.0972 64.0877 14.6789C62.7601 14.5379 61.4209 14.8039 60.2471 15.4417C59.0883 11.3916 56.7587 7.77661 53.5524 5.05307C50.3462 2.32954 46.4069 0.619554 42.2322 0.139089C38.0574 -0.341376 33.8343 0.429205 30.096 2.3535C26.3577 4.27779 23.2717 7.26952 21.2278 10.951C19.5598 9.58721 17.5877 8.64803 15.4796 8.21342C13.3715 7.77881 11.1898 7.86167 9.12055 8.455C7.05127 9.04832 5.15575 10.1345 3.5955 11.621C2.03526 13.1074 0.856627 14.9501 0.159935 16.9919C-0.00188474 17.496 -0.0416417 18.0315 0.0440029 18.5541C0.129648 19.0766 0.338218 19.5712 0.652421 19.9969C0.966624 20.4226 1.37743 20.7671 1.85083 21.0019C2.32424 21.2367 2.84662 21.3551 3.37473 21.3472Z' fill='%23D8CEF5'/%3E%3C/svg%3E%0A");
      width: 67px;
      height: 22px;
      top: 0;
      left: 0;
      @include break(medium){
        width: 41px;
        height: 13px;
      }
    }
    &::after{
      background-image: url("data:image/svg+xml,%3Csvg width='92' height='29' viewBox='0 0 92 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.63846 28.9995H87.3951C93.0618 28.9995 93.7365 20.5091 88.0867 19.9408C86.2618 19.7493 84.4213 20.1106 82.8079 20.977C81.2151 15.4752 78.0132 10.5643 73.6062 6.86444C69.1993 3.16461 63.7849 0.841645 58.0468 0.188948C52.3088 -0.463748 46.5043 0.583061 41.3661 3.19715C36.2278 5.81124 31.9862 9.87541 29.177 14.8766C26.8844 13.0239 24.1738 11.7481 21.2762 11.1577C18.3787 10.5673 15.3801 10.6798 12.5359 11.4858C9.69176 12.2919 7.08643 13.7674 4.94192 15.7867C2.7974 17.806 1.17741 20.3092 0.219826 23.083C-0.00259052 23.7678 -0.0572352 24.4952 0.0604807 25.2051C0.178197 25.915 0.46487 26.5869 0.896733 27.1651C1.3286 27.7434 1.89324 28.2115 2.54392 28.5305C3.19459 28.8494 3.9126 29.0102 4.63846 28.9995Z' fill='%23D8CEF5'/%3E%3C/svg%3E%0A");
      width: 92px;
      height: 29px;
      right: 0;
      top: 28px;
      @include break(medium){
        width: 56px;
        height: 18px;
        top: 13px;
      }
    }
    svg{
      width: 254px !important;
      height: 74px !important;
      @include break(medium){
        width: 220px !important;
        height: 62px !important;        
      }
    }
    &.start{
      margin-left: 57px;
      @include break(medium){
        margin-left: auto;
      }
    }
    @include break(medium) {
      margin-bottom: -13px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 46px;
      padding-right: 0;
      padding-left: 0;
      width: 220px;
      transform: translateX(0) !important;
    }

  }
  .cruising-step-dots{
    display: flex;
    margin-top: 25px;
    @include break(medium) {
      display: none;
    }
    .cruising-dot{
      padding: 0;
      background-color: transparent;
      width: 13px;
      height: 13px;
      border: 1px solid $purple;
      border-radius: 50%;
      transition: .3s linear;   
      font-size: 0;
      display: block;
      &:not(:last-child){
        margin-right: 15px;
      }
      &.active{
        background-color: $purple;
      }
    }
  }
  &__slider{
    @include break(medium){
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    .slick-list{
      overflow: unset !important;
      transition: 0.8s linear;
    }
    .item{
      text-align: left;
    }
    .slick-track{

      &::before{
        content: '';
        display: block;
        width: 100%;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='68' height='24' viewBox='0 0 68 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1825_13930)'%3E%3Cpath d='M389.093 5.66305C384.739 2.87883 380.224 0 371.273 0C362.323 0 357.794 2.87883 353.467 5.66305C349.315 8.36617 345.379 10.8125 337.44 10.8125C329.5 10.8125 325.551 8.31211 321.413 5.66305C317.059 2.87883 312.543 0 303.606 0C294.669 0 290.127 2.87883 285.786 5.66305C281.648 8.36617 277.699 10.8125 269.759 10.8125C261.82 10.8125 257.884 8.31211 253.745 5.66305C249.378 2.87883 244.876 0 235.925 0C226.975 0 222.446 2.87883 218.119 5.66305C213.981 8.36617 210.031 10.8125 202.092 10.8125C194.153 10.8125 190.216 8.31211 186.078 5.66305C181.724 2.87883 177.209 0 168.272 0C159.335 0 154.792 2.87883 150.452 5.66305C146.314 8.36617 142.364 10.8125 134.438 10.8125C126.512 10.8125 122.563 8.31211 118.425 5.66305C114.057 2.87883 109.555 0 100.605 0C91.6543 0 87.1252 2.87883 82.7983 5.66305C78.6601 8.36617 74.7104 10.8125 66.7845 10.8125C58.8585 10.8125 54.8957 8.31211 50.7574 5.66305C46.4036 2.87883 41.888 0 32.9511 0C24.0141 0 19.4713 2.87883 15.1308 5.66305C10.9926 8.36617 7.04329 10.8125 -0.882663 10.8125C-8.80862 10.8125 -12.7583 8.31211 -16.8965 5.66305C-21.2639 2.87883 -25.766 0 -34.7164 0C-43.6668 0 -48.1958 2.87883 -52.5228 5.66305C-56.661 8.36617 -60.6103 10.8125 -68.5498 10.8125C-76.4892 10.8125 -80.4254 8.31211 -84.5636 5.66305C-88.9175 2.87883 -93.4331 0 -102.37 0C-111.307 0 -115.849 2.87883 -120.19 5.66305C-124.328 8.36617 -128.278 10.8125 -136.204 10.8125C-144.13 10.8125 -148.093 8.31211 -152.231 5.66305C-154.071 4.4278 -155.999 3.33008 -158 2.37876V6.14959C-156.652 6.87943 -155.304 7.70391 -153.956 8.54188C-149.589 11.3261 -145.086 14.2049 -136.136 14.2049C-127.186 14.2049 -122.657 11.3261 -118.33 8.54188C-114.191 5.83876 -110.242 3.39243 -102.303 3.39243C-94.3631 3.39243 -90.4272 5.89282 -86.289 8.54188C-81.9351 11.3261 -77.4192 14.2049 -68.4823 14.2049C-59.5454 14.2049 -55.0028 11.3261 -50.6624 8.54188C-46.5242 5.83876 -42.5749 3.39243 -34.6489 3.39243C-26.723 3.39243 -22.7598 5.89282 -18.6216 8.54188C-14.2677 11.3261 -9.7656 14.2049 -0.815199 14.2049C8.1352 14.2049 12.6643 11.3261 16.9912 8.54188C21.1294 5.83876 25.0788 3.39243 33.0182 3.39243C40.9576 3.39243 44.8938 5.89282 49.032 8.54188C53.3994 11.3261 57.9015 14.2049 66.8519 14.2049C75.8023 14.2049 80.3314 11.3261 84.6583 8.54188C88.7965 5.83876 92.7462 3.39243 100.672 3.39243C108.598 3.39243 112.561 5.89282 116.699 8.54188C121.053 11.3261 125.555 14.2049 134.506 14.2049C143.456 14.2049 147.985 11.3261 152.312 8.54188C156.45 5.83876 160.4 3.39243 168.339 3.39243C176.279 3.39243 180.215 5.89282 184.353 8.54188C188.707 11.3261 193.222 14.2049 202.159 14.2049C211.096 14.2049 215.639 11.3261 219.979 8.54188C224.118 5.83876 228.067 3.39243 235.993 3.39243C243.919 3.39243 247.882 5.89282 252.02 8.54188C256.374 11.3261 260.89 14.2049 269.827 14.2049C278.764 14.2049 283.306 11.3261 287.646 8.54188C291.785 5.83876 295.734 3.39243 303.673 3.39243C311.613 3.39243 315.549 5.89282 319.687 8.54188C324.055 11.3261 328.557 14.2049 337.507 14.2049C346.458 14.2049 350.987 11.3261 355.327 8.54188C359.465 5.83876 363.415 3.39243 371.341 3.39243C379.267 3.39243 383.23 5.89282 387.368 8.54188C391.203 11.3261 395.643 13.1559 400.322 13.8805V10.5016C396.261 9.76357 392.422 8.109 389.093 5.66305V5.66305Z' fill='%23744BDA'/%3E%3Cpath d='M439.341 3C431.374 3 427.465 5.50039 423.327 8.14945C418.96 10.9337 414.444 13.8125 405.507 13.8125C396.57 13.8125 392.028 10.9337 387.687 8.14945C383.549 5.44633 379.599 3 371.673 3C363.747 3 359.784 5.50039 355.646 8.14945C351.292 10.9337 346.777 13.8125 337.826 13.8125C328.876 13.8125 324.347 10.9337 320.02 8.14945C315.882 5.44633 311.932 3 303.993 3C296.053 3 292.117 5.50039 287.979 8.14945C283.612 10.9337 279.11 13.8125 270.159 13.8125C261.209 13.8125 256.679 10.9337 252.353 8.14945C248.214 5.44633 244.265 3 236.339 3C228.413 3 224.45 5.50039 220.312 8.14945C215.958 10.9337 211.442 13.8125 202.505 13.8125C193.568 13.8125 189.026 10.9337 184.699 8.14945C180.561 5.44633 176.611 3 168.672 3C160.733 3 156.796 5.50039 152.658 8.14945C148.304 10.9337 143.789 13.8125 134.852 13.8125C125.915 13.8125 121.372 10.9337 117.032 8.14945C112.894 5.44633 108.944 3 101.018 3C93.0924 3 89.1292 5.50039 84.991 8.14945C80.6371 10.9337 76.1215 13.8125 67.1846 13.8125C58.2477 13.8125 53.7052 10.9337 49.3782 8.14945C45.24 5.44633 41.2903 3 33.3509 3C25.4115 3 21.4756 5.50039 17.3374 8.14945C12.97 10.9337 8.46791 13.8125 -0.482485 13.8125C-9.43288 13.8125 -13.9619 10.9337 -18.2889 8.14945C-22.4271 5.44633 -26.3768 3 -34.3027 3C-42.2287 3 -46.1917 5.50039 -50.3299 8.14945C-54.6838 10.9337 -59.1993 13.8125 -68.1363 13.8125C-77.0732 13.8125 -81.6157 10.9337 -85.9561 8.14945C-87.3041 7.31148 -88.5442 6.48709 -90 5.75724V259.608H468.254V13.4881C463.575 12.7636 459.135 10.9336 455.3 8.14945C451.229 5.50039 447.321 3 439.341 3Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1825_13930'%3E%3Crect width='68' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: repeat-x;
        position: absolute;
        left: 0; 
        transform: translateX(-50%);
        top: -14px;
        @include break(large1470){
          top: -11px;
        }
        @include break(medium){
          background-image: url("data:image/svg+xml,%3Csvg width='41' height='18' viewBox='0 0 41 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1828_13941)'%3E%3Cpath d='M153.048 3.39567C150.437 1.7262 147.73 0 142.363 0C136.996 0 134.28 1.7262 131.685 3.39567C129.196 5.01652 126.836 6.48338 122.075 6.48338C117.315 6.48338 114.947 4.9841 112.465 3.39567C109.855 1.7262 107.147 0 101.788 0C96.4292 0 93.7054 1.7262 91.1028 3.39567C88.6215 5.01652 86.2534 6.48338 81.4927 6.48338C76.7321 6.48338 74.3719 4.9841 71.8905 3.39567C69.2718 1.7262 66.5722 0 61.2054 0C55.8385 0 53.1228 1.7262 50.5283 3.39567C48.0469 5.01652 45.6788 6.48338 40.9182 6.48338C36.1576 6.48338 33.7973 4.9841 31.316 3.39567C28.7053 1.7262 25.9977 0 20.6389 0C15.2802 0 12.5564 1.7262 9.95378 3.39567C7.47243 5.01652 5.10413 6.48338 0.351572 6.48338C-4.40099 6.48338 -6.76909 4.9841 -9.25044 3.39567C-11.8692 1.7262 -14.5688 0 -19.9356 0C-25.3024 0 -28.0181 1.7262 -30.6126 3.39567C-33.094 5.01652 -35.4623 6.48338 -40.2149 6.48338C-44.9674 6.48338 -47.3436 4.9841 -49.825 3.39567C-52.4356 1.7262 -55.1433 0 -60.502 0C-65.8608 0 -68.5848 1.7262 -71.1874 3.39567C-73.6687 5.01652 -76.0368 6.48338 -80.7894 6.48338C-85.5419 6.48338 -87.9102 4.9841 -90.3916 3.39567C-93.0103 1.7262 -95.7099 0 -101.077 0C-106.444 0 -109.159 1.7262 -111.754 3.39567C-114.235 5.01652 -116.603 6.48338 -121.364 6.48338C-126.125 6.48338 -128.485 4.9841 -130.966 3.39567C-133.577 1.7262 -136.284 0 -141.643 0C-147.002 0 -149.726 1.7262 -152.328 3.39567C-154.81 5.01652 -157.178 6.48338 -161.93 6.48338C-166.683 6.48338 -169.059 4.9841 -171.541 3.39567C-172.644 2.655 -173.8 1.99678 -175 1.42635V3.68741C-174.192 4.12504 -173.383 4.61942 -172.575 5.12188C-169.956 6.79135 -167.257 8.51755 -161.89 8.51755C-156.523 8.51755 -153.807 6.79135 -151.213 5.12188C-148.732 3.50103 -146.363 2.03417 -141.603 2.03417C-136.842 2.03417 -134.482 3.53345 -132.001 5.12188C-129.39 6.79135 -126.682 8.51755 -121.323 8.51755C-115.965 8.51755 -113.241 6.79135 -110.638 5.12188C-108.157 3.50103 -105.789 2.03417 -101.036 2.03417C-96.2837 2.03417 -93.9073 3.53345 -91.426 5.12188C-88.8153 6.79135 -86.1158 8.51755 -80.7489 8.51755C-75.3821 8.51755 -72.6664 6.79135 -70.0719 5.12188C-67.5905 3.50103 -65.2224 2.03417 -60.4618 2.03417C-55.7011 2.03417 -53.3409 3.53345 -50.8596 5.12188C-48.2408 6.79135 -45.5412 8.51755 -40.1744 8.51755C-34.8076 8.51755 -32.0919 6.79135 -29.4973 5.12188C-27.016 3.50103 -24.6477 2.03417 -19.8951 2.03417C-15.1426 2.03417 -12.7664 3.53345 -10.285 5.12188C-7.67436 6.79135 -4.97481 8.51755 0.392024 8.51755C5.75886 8.51755 8.47457 6.79135 11.0691 5.12188C13.5504 3.50103 15.9187 2.03417 20.6794 2.03417C25.44 2.03417 27.8 3.53345 30.2814 5.12188C32.8921 6.79135 35.5997 8.51755 40.9585 8.51755C46.3172 8.51755 49.0412 6.79135 51.6438 5.12188C54.1252 3.50103 56.4933 2.03417 61.2458 2.03417C65.9984 2.03417 68.3746 3.53345 70.8559 5.12188C73.4666 6.79135 76.1744 8.51755 81.5332 8.51755C86.8919 8.51755 89.6157 6.79135 92.2183 5.12188C94.6997 3.50103 97.0678 2.03417 101.828 2.03417C106.589 2.03417 108.949 3.53345 111.431 5.12188C114.049 6.79135 116.749 8.51755 122.116 8.51755C127.483 8.51755 130.198 6.79135 132.801 5.12188C135.282 3.50103 137.65 2.03417 142.403 2.03417C147.156 2.03417 149.532 3.53345 152.013 5.12188C154.313 6.79133 156.975 7.88853 159.78 8.32301V6.29695C157.346 5.85442 155.044 4.86232 153.048 3.39567V3.39567Z' fill='%23744BDA'/%3E%3Cpath d='M142.403 2.00195C137.626 2.00195 135.282 3.50124 132.801 5.08967C130.182 6.75914 127.474 8.48534 122.116 8.48534C116.757 8.48534 114.033 6.75914 111.431 5.08967C108.949 3.46882 106.581 2.00195 101.828 2.00195C97.0757 2.00195 94.6996 3.50124 92.2182 5.08967C89.6075 6.75914 86.8999 8.48534 81.5331 8.48534C76.1662 8.48534 73.4505 6.75914 70.856 5.08967C68.3746 3.46882 66.0063 2.00195 61.2457 2.00195C56.4851 2.00195 54.125 3.50124 51.6437 5.08967C49.0249 6.75914 46.3254 8.48534 40.9585 8.48534C35.5917 8.48534 32.8758 6.75914 30.2813 5.08967C27.7999 3.46882 25.4318 2.00195 20.6793 2.00195C15.9267 2.00195 13.5505 3.50124 11.0692 5.08967C8.45849 6.75914 5.75066 8.48534 0.391913 8.48534C-4.96684 8.48534 -7.69064 6.75914 -10.2851 5.08967C-12.7665 3.46882 -15.1346 2.00195 -19.8952 2.00195C-24.6559 2.00195 -27.0161 3.50124 -29.4975 5.08967C-32.1081 6.75914 -34.8158 8.48534 -40.1745 8.48534C-45.5333 8.48534 -48.2571 6.75914 -50.8597 5.08967C-53.341 3.46882 -55.7091 2.00195 -60.4617 2.00195C-65.2142 2.00195 -67.5906 3.50124 -70.072 5.08967C-72.6826 6.75914 -75.3903 8.48534 -80.749 8.48534C-86.1078 8.48534 -88.8316 6.75914 -91.4261 5.08967C-93.9074 3.46882 -96.2758 2.00195 -101.036 2.00195C-105.797 2.00195 -108.157 3.50124 -110.638 5.08967C-113.257 6.75914 -115.957 8.48534 -121.324 8.48534C-126.69 8.48534 -129.406 6.75914 -132.001 5.08967C-134.482 3.46882 -136.85 2.00195 -141.603 2.00195C-146.355 2.00195 -148.732 3.50124 -151.213 5.08967C-153.824 6.75914 -156.531 8.48534 -161.89 8.48534C-167.249 8.48534 -169.973 6.75914 -172.575 5.08967C-173.383 4.5872 -174.127 4.09288 -175 3.65525V155.869H159.74V8.29085C156.934 7.85638 154.272 6.75912 151.973 5.08967C149.532 3.50124 147.188 2.00195 142.403 2.00195Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1828_13941'%3E%3Crect width='41' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          height: 18px;
          top: -8px;
          left: 0;
          transform: translateX(-50%);
          width: 10000px;
        }
        @include break(x-small){
          top: -10px;
        }
      }
      &::after{
        @include break(medium){
          content: '';
          display: block;
          width: calc(100% - 100px);
          height: 3px;
          position: absolute;
          top: 47px;
          z-index: 10;
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='3' viewBox='0 0 10 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1503_13151)'%3E%3Cpath d='M2.48214 2.71094C3.03443 2.71094 3.48214 2.26322 3.48214 1.71094C3.48214 1.15865 3.03443 0.710937 2.48214 0.710937L2.48214 2.71094ZM7.44643 0.710937C6.89414 0.710937 6.44643 1.15865 6.44643 1.71094C6.44643 2.26322 6.89414 2.71094 7.44643 2.71094L7.44643 0.710937ZM12.4107 2.71094C12.963 2.71094 13.4107 2.26322 13.4107 1.71094C13.4107 1.15865 12.963 0.710936 12.4107 0.710936L12.4107 2.71094ZM17.375 0.710936C16.8227 0.710936 16.375 1.15865 16.375 1.71094C16.375 2.26322 16.8227 2.71094 17.375 2.71094L17.375 0.710936ZM22.3393 2.71094C22.8916 2.71094 23.3393 2.26322 23.3393 1.71094C23.3393 1.15865 22.8916 0.710935 22.3393 0.710936L22.3393 2.71094ZM27.3036 0.710935C26.7513 0.710935 26.3036 1.15865 26.3036 1.71094C26.3036 2.26322 26.7513 2.71094 27.3036 2.71094L27.3036 0.710935ZM32.2679 2.71093C32.8201 2.71093 33.2679 2.26322 33.2679 1.71093C33.2679 1.15865 32.8201 0.710935 32.2679 0.710935L32.2679 2.71093ZM37.2321 0.710934C36.6799 0.710934 36.2321 1.15865 36.2321 1.71093C36.2321 2.26322 36.6799 2.71093 37.2321 2.71093L37.2321 0.710934ZM42.1964 2.71093C42.7487 2.71093 43.1964 2.26322 43.1964 1.71093C43.1964 1.15865 42.7487 0.710934 42.1964 0.710934L42.1964 2.71093ZM47.1607 0.710933C46.6084 0.710933 46.1607 1.15865 46.1607 1.71093C46.1607 2.26322 46.6084 2.71093 47.1607 2.71093L47.1607 0.710933ZM52.125 2.71093C52.6773 2.71093 53.125 2.26322 53.125 1.71093C53.125 1.15865 52.6773 0.710933 52.125 0.710933L52.125 2.71093ZM57.0893 0.710933C56.537 0.710933 56.0893 1.15865 56.0893 1.71093C56.0893 2.26322 56.537 2.71093 57.0893 2.71093L57.0893 0.710933ZM62.0536 2.71093C62.6059 2.71093 63.0536 2.26322 63.0536 1.71093C63.0536 1.15865 62.6059 0.710932 62.0536 0.710932L62.0536 2.71093ZM67.0179 0.710932C66.4656 0.710932 66.0179 1.15865 66.0179 1.71093C66.0179 2.26322 66.4656 2.71093 67.0179 2.71093L67.0179 0.710932ZM71.9822 2.71093C72.5344 2.71093 72.9822 2.26322 72.9822 1.71093C72.9822 1.15865 72.5344 0.710931 71.9822 0.710931L71.9822 2.71093ZM76.9464 0.710931C76.3942 0.710931 75.9464 1.15865 75.9464 1.71093C75.9464 2.26322 76.3942 2.71093 76.9464 2.71093L76.9464 0.710931ZM81.9107 2.71093C82.463 2.71093 82.9107 2.26322 82.9107 1.71093C82.9107 1.15865 82.463 0.71093 81.9107 0.71093L81.9107 2.71093ZM86.875 0.71093C86.3227 0.71093 85.875 1.15865 85.875 1.71093C85.875 2.26321 86.3227 2.71093 86.875 2.71093L86.875 0.71093ZM91.8393 2.71093C92.3916 2.71093 92.8393 2.26321 92.8393 1.71093C92.8393 1.15864 92.3916 0.710929 91.8393 0.710929L91.8393 2.71093ZM96.8036 0.710929C96.2513 0.710929 95.8036 1.15864 95.8036 1.71093C95.8036 2.26321 96.2513 2.71093 96.8036 2.71093L96.8036 0.710929ZM101.768 2.71093C102.32 2.71093 102.768 2.26321 102.768 1.71093C102.768 1.15864 102.32 0.710929 101.768 0.710929L101.768 2.71093ZM106.732 0.710928C106.18 0.710928 105.732 1.15864 105.732 1.71093C105.732 2.26321 106.18 2.71093 106.732 2.71093L106.732 0.710928ZM111.696 2.71093C112.249 2.71093 112.696 2.26321 112.696 1.71093C112.696 1.15864 112.249 0.710928 111.696 0.710928L111.696 2.71093ZM116.661 0.710927C116.108 0.710927 115.661 1.15864 115.661 1.71093C115.661 2.26321 116.108 2.71093 116.661 2.71093L116.661 0.710927ZM121.625 2.71093C122.177 2.71093 122.625 2.26321 122.625 1.71093C122.625 1.15864 122.177 0.710927 121.625 0.710927L121.625 2.71093ZM126.589 0.710926C126.037 0.710926 125.589 1.15864 125.589 1.71093C125.589 2.26321 126.037 2.71093 126.589 2.71093L126.589 0.710926ZM131.554 2.71093C132.106 2.71093 132.554 2.26321 132.554 1.71093C132.554 1.15864 132.106 0.710926 131.554 0.710926L131.554 2.71093ZM136.518 0.710926C135.966 0.710926 135.518 1.15864 135.518 1.71093C135.518 2.26321 135.966 2.71093 136.518 2.71093L136.518 0.710926ZM8.74228e-08 2.71094L2.48214 2.71094L2.48214 0.710937L-8.74228e-08 0.710938L8.74228e-08 2.71094ZM7.44643 2.71094L12.4107 2.71094L12.4107 0.710936L7.44643 0.710937L7.44643 2.71094ZM17.375 2.71094L22.3393 2.71094L22.3393 0.710936L17.375 0.710936L17.375 2.71094ZM27.3036 2.71094L32.2679 2.71093L32.2679 0.710935L27.3036 0.710935L27.3036 2.71094ZM37.2321 2.71093L42.1964 2.71093L42.1964 0.710934L37.2321 0.710934L37.2321 2.71093ZM47.1607 2.71093L52.125 2.71093L52.125 0.710933L47.1607 0.710933L47.1607 2.71093ZM57.0893 2.71093L62.0536 2.71093L62.0536 0.710932L57.0893 0.710933L57.0893 2.71093ZM67.0179 2.71093L71.9822 2.71093L71.9822 0.710931L67.0179 0.710932L67.0179 2.71093ZM76.9464 2.71093L81.9107 2.71093L81.9107 0.71093L76.9464 0.710931L76.9464 2.71093ZM86.875 2.71093L91.8393 2.71093L91.8393 0.710929L86.875 0.71093L86.875 2.71093ZM96.8036 2.71093L101.768 2.71093L101.768 0.710929L96.8036 0.710929L96.8036 2.71093ZM106.732 2.71093L111.696 2.71093L111.696 0.710928L106.732 0.710928L106.732 2.71093ZM116.661 2.71093L121.625 2.71093L121.625 0.710927L116.661 0.710927L116.661 2.71093ZM126.589 2.71093L131.554 2.71093L131.554 0.710926L126.589 0.710926L126.589 2.71093ZM136.518 2.71093L139 2.71093L139 0.710925L136.518 0.710926L136.518 2.71093Z' fill='%230D2D5F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1503_13151'%3E%3Crect width='10' height='3' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          background-repeat: repeat-x;
          background-position: center;
          margin: 0 50px;
          @include break(small-330){
            top: 42px;
          }
        }
      }
    }
    .slick-slide{
      margin-right: 23px;
      min-width: 565px;
      padding-top: 12px;
      &:first-child{
        @media screen and (min-width:992px){
          width: 0;
          min-width: auto;
          max-height: 300px;
          position: absolute;
          left: 0px;
          .item{
            width: 0 !important;
          }
        }
       
      }
      @include break(large1370){
        max-width: 400px;
        min-width: auto;
      }
      @include break(medium){
        padding-top: 5px;
        
        margin-right: 0;
      }
      &:not(:last-child){
        .cruising-section__slider-title::after{
          content: '';
          display: block;
          width: 100%;
          height: 3px;
          margin-bottom: -5px;
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='3' viewBox='0 0 10 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1503_13151)'%3E%3Cpath d='M2.48214 2.71094C3.03443 2.71094 3.48214 2.26322 3.48214 1.71094C3.48214 1.15865 3.03443 0.710937 2.48214 0.710937L2.48214 2.71094ZM7.44643 0.710937C6.89414 0.710937 6.44643 1.15865 6.44643 1.71094C6.44643 2.26322 6.89414 2.71094 7.44643 2.71094L7.44643 0.710937ZM12.4107 2.71094C12.963 2.71094 13.4107 2.26322 13.4107 1.71094C13.4107 1.15865 12.963 0.710936 12.4107 0.710936L12.4107 2.71094ZM17.375 0.710936C16.8227 0.710936 16.375 1.15865 16.375 1.71094C16.375 2.26322 16.8227 2.71094 17.375 2.71094L17.375 0.710936ZM22.3393 2.71094C22.8916 2.71094 23.3393 2.26322 23.3393 1.71094C23.3393 1.15865 22.8916 0.710935 22.3393 0.710936L22.3393 2.71094ZM27.3036 0.710935C26.7513 0.710935 26.3036 1.15865 26.3036 1.71094C26.3036 2.26322 26.7513 2.71094 27.3036 2.71094L27.3036 0.710935ZM32.2679 2.71093C32.8201 2.71093 33.2679 2.26322 33.2679 1.71093C33.2679 1.15865 32.8201 0.710935 32.2679 0.710935L32.2679 2.71093ZM37.2321 0.710934C36.6799 0.710934 36.2321 1.15865 36.2321 1.71093C36.2321 2.26322 36.6799 2.71093 37.2321 2.71093L37.2321 0.710934ZM42.1964 2.71093C42.7487 2.71093 43.1964 2.26322 43.1964 1.71093C43.1964 1.15865 42.7487 0.710934 42.1964 0.710934L42.1964 2.71093ZM47.1607 0.710933C46.6084 0.710933 46.1607 1.15865 46.1607 1.71093C46.1607 2.26322 46.6084 2.71093 47.1607 2.71093L47.1607 0.710933ZM52.125 2.71093C52.6773 2.71093 53.125 2.26322 53.125 1.71093C53.125 1.15865 52.6773 0.710933 52.125 0.710933L52.125 2.71093ZM57.0893 0.710933C56.537 0.710933 56.0893 1.15865 56.0893 1.71093C56.0893 2.26322 56.537 2.71093 57.0893 2.71093L57.0893 0.710933ZM62.0536 2.71093C62.6059 2.71093 63.0536 2.26322 63.0536 1.71093C63.0536 1.15865 62.6059 0.710932 62.0536 0.710932L62.0536 2.71093ZM67.0179 0.710932C66.4656 0.710932 66.0179 1.15865 66.0179 1.71093C66.0179 2.26322 66.4656 2.71093 67.0179 2.71093L67.0179 0.710932ZM71.9822 2.71093C72.5344 2.71093 72.9822 2.26322 72.9822 1.71093C72.9822 1.15865 72.5344 0.710931 71.9822 0.710931L71.9822 2.71093ZM76.9464 0.710931C76.3942 0.710931 75.9464 1.15865 75.9464 1.71093C75.9464 2.26322 76.3942 2.71093 76.9464 2.71093L76.9464 0.710931ZM81.9107 2.71093C82.463 2.71093 82.9107 2.26322 82.9107 1.71093C82.9107 1.15865 82.463 0.71093 81.9107 0.71093L81.9107 2.71093ZM86.875 0.71093C86.3227 0.71093 85.875 1.15865 85.875 1.71093C85.875 2.26321 86.3227 2.71093 86.875 2.71093L86.875 0.71093ZM91.8393 2.71093C92.3916 2.71093 92.8393 2.26321 92.8393 1.71093C92.8393 1.15864 92.3916 0.710929 91.8393 0.710929L91.8393 2.71093ZM96.8036 0.710929C96.2513 0.710929 95.8036 1.15864 95.8036 1.71093C95.8036 2.26321 96.2513 2.71093 96.8036 2.71093L96.8036 0.710929ZM101.768 2.71093C102.32 2.71093 102.768 2.26321 102.768 1.71093C102.768 1.15864 102.32 0.710929 101.768 0.710929L101.768 2.71093ZM106.732 0.710928C106.18 0.710928 105.732 1.15864 105.732 1.71093C105.732 2.26321 106.18 2.71093 106.732 2.71093L106.732 0.710928ZM111.696 2.71093C112.249 2.71093 112.696 2.26321 112.696 1.71093C112.696 1.15864 112.249 0.710928 111.696 0.710928L111.696 2.71093ZM116.661 0.710927C116.108 0.710927 115.661 1.15864 115.661 1.71093C115.661 2.26321 116.108 2.71093 116.661 2.71093L116.661 0.710927ZM121.625 2.71093C122.177 2.71093 122.625 2.26321 122.625 1.71093C122.625 1.15864 122.177 0.710927 121.625 0.710927L121.625 2.71093ZM126.589 0.710926C126.037 0.710926 125.589 1.15864 125.589 1.71093C125.589 2.26321 126.037 2.71093 126.589 2.71093L126.589 0.710926ZM131.554 2.71093C132.106 2.71093 132.554 2.26321 132.554 1.71093C132.554 1.15864 132.106 0.710926 131.554 0.710926L131.554 2.71093ZM136.518 0.710926C135.966 0.710926 135.518 1.15864 135.518 1.71093C135.518 2.26321 135.966 2.71093 136.518 2.71093L136.518 0.710926ZM8.74228e-08 2.71094L2.48214 2.71094L2.48214 0.710937L-8.74228e-08 0.710938L8.74228e-08 2.71094ZM7.44643 2.71094L12.4107 2.71094L12.4107 0.710936L7.44643 0.710937L7.44643 2.71094ZM17.375 2.71094L22.3393 2.71094L22.3393 0.710936L17.375 0.710936L17.375 2.71094ZM27.3036 2.71094L32.2679 2.71093L32.2679 0.710935L27.3036 0.710935L27.3036 2.71094ZM37.2321 2.71093L42.1964 2.71093L42.1964 0.710934L37.2321 0.710934L37.2321 2.71093ZM47.1607 2.71093L52.125 2.71093L52.125 0.710933L47.1607 0.710933L47.1607 2.71093ZM57.0893 2.71093L62.0536 2.71093L62.0536 0.710932L57.0893 0.710933L57.0893 2.71093ZM67.0179 2.71093L71.9822 2.71093L71.9822 0.710931L67.0179 0.710932L67.0179 2.71093ZM76.9464 2.71093L81.9107 2.71093L81.9107 0.71093L76.9464 0.710931L76.9464 2.71093ZM86.875 2.71093L91.8393 2.71093L91.8393 0.710929L86.875 0.71093L86.875 2.71093ZM96.8036 2.71093L101.768 2.71093L101.768 0.710929L96.8036 0.710929L96.8036 2.71093ZM106.732 2.71093L111.696 2.71093L111.696 0.710928L106.732 0.710928L106.732 2.71093ZM116.661 2.71093L121.625 2.71093L121.625 0.710927L116.661 0.710927L116.661 2.71093ZM126.589 2.71093L131.554 2.71093L131.554 0.710926L126.589 0.710926L126.589 2.71093ZM136.518 2.71093L139 2.71093L139 0.710925L136.518 0.710926L136.518 2.71093Z' fill='%230D2D5F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1503_13151'%3E%3Crect width='10' height='3' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          background-repeat: repeat-x;
          margin-left: 23px;
          @include break(medium){
            display: none;
          }
        }
      }
      @media screen and (min-width:992px){
        &.slick-active:not(.slick-current){
          .cruising-section__slider-text{
            opacity: 1;
            visibility: visible;
          }
        }
        .cruising-section__slider-title{
          text-shadow: 0 0 1px $navy, -1px -1px 0 $navy, 1px -1px 0 $navy, -1px 1px 0 $navy, 1px 1px 0 $navy;
          //-webkit-text-stroke: 1px $navy;
          color: $white;
        }
        &.slick-active:not(.slick-current){
          .cruising-section__slider-title{
            text-shadow: none;
            color: $navy;
          }
          
        }
      }
      @include break(medium){
        &:not(.slick-active){
          .cruising-section__slider-title{
            text-shadow: 0 0 1px $navy, -1px -1px 0 $navy, 1px -1px 0 $navy, -1px 1px 0 $navy, 1px 1px 0 $navy;
            //-webkit-text-stroke: 1px $navy;
            color: $white;
          }
          
        }
        &.slick-active{
          .cruising-section__slider-text{
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .slick-dots{
      display: flex;
      list-style: none;
      margin-top: 25px;
      @include break(medium) {
        margin-bottom: 0;
        padding-top: 40px;
        justify-content: center;
        width: 100%;
      }
      li{
        margin-bottom: 0;
        padding: 0;
        height: 13px;
        &::after{
          display: none;
        }
        &:not(:last-child){
          margin-right: 15px;
        }
        &:hover,
        &.slick-active{
          button{
            background-color: $purple;
          }
        }
        button{
          padding: 0;
          background-color: transparent;
          width: 13px;
          height: 13px;
          border: 1px solid $purple;
          border-radius: 50%;
          transition: .3s linear;   
          font-size: 0;
          display: block;
        }
      }
    }
    &-title{
      font-size: 72px;
      line-height: 82px;
      padding-top: 15px;
      margin-bottom: 15px;
      transition: .3s linear;  
      white-space: nowrap;
      display: flex;
      align-items: center;
      @include break(large1370){
        font-size: 50px;
        line-height: 57px;
      }
      @include break(medium) {
        margin-bottom: 20px;
        padding-top: 10px;
        justify-content: center;
        @include break(small-330){
          font-size: 40px;
          line-height: 47px;
        }
        span{
          padding-left: 25px;
          padding-right: 25px;
          background-color: $white;
          text-align: center;
          position: relative;
          z-index: 11;
          @include break(x-small){
            padding-left: 20px;
            padding-right: 20px;
          }
          @include break(small-330){
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
    &-text{
      font-size: 20px;
      line-height: 27px;  
      visibility: hidden;
      opacity: 0;
      margin-bottom: 0;
      transition: .3s linear;  
      @include break(large1370){
        font-size: 16px;
        line-height: 22px;
        br{
          display: none;
        }
      }
      @include break(medium) {
        text-align: center;
       
      }  
      @include break(x-small){
        padding-left: 30px;
        padding-right: 30px;
      }
      @include break(small-330){
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &__link{
    margin-top: 65px;
    @include break(large1470) {
      margin-top: 40px;
    }
    @include break(large1370) {
      margin-top: 30px;
    }
  }
}