.faq-section{
  margin-top: 20px;
  margin-bottom: 180px;
  @include break(tablet){
    margin-top: 15px;
    margin-bottom: 50px;
  }

	@include break(small) {
		margin-bottom : 90px;
	}
  &__container{
	  display : flex;
	  justify-content: space-between;

    @include break(medium){
      padding-left: 0;
      padding-right: 0;

    }
	  @include break(small) {
		  flex-direction : column;
	  }
  }

	&__wrapper {
		@include break(small) {
			margin-bottom : 50px;
		}
	}
  &__item{
    padding-top: 25px;
    padding-bottom: 25px;
    &:not(:last-child){
      border-bottom: 1px solid #DFDFDF;
    }
    @include break(tablet){
      padding-top: 15px;
      padding-bottom: 15px;
      &:last-child{
        border-bottom: 1px solid #DFDFDF;
      }
    }
  }
  &__title{
    text-align: left;
    padding-left: 84px;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    @include break(tablet){
      font-size: 32px;
      line-height: 36px;
      padding-left: 50px;
    }
    @include break(medium){
      padding-right: 15px;
    }
    &::before,
    &::after{
      content: '';
      display: block;
      position: absolute;
      background-color: $purple;
      transition: .3s ease-in-out;
    }
    &::before{
      width: 25px;
      height: 3px;
      top: 33px;
      left: 27px;
      @include break(desktop){
        top: 25px;
      }
      @include break(tablet){
        width: 16px;
        height: 2px;
        left: 20px;
        top: 17px;
      }
    }
    &::after{
      height: 25px;
      width: 3px;
      top: 22px;
      left: 38px;
      @include break(desktop){
        top: 14px;
      }
      @include break(tablet){
        height: 16px;
        width: 2px;
        top: 10px;
        left: 27px;
      }
    }
    &.active{
      &::after{
        transform: rotate(90deg);
      }
    }
	  &__new{
		  margin-bottom:55px;
	  }
  }
  &__questions{
    max-height: 0;
    overflow: hidden;
    transition: .8s ease-in-out;
    padding-left: 84px;
    @include break(tablet){
      padding-left: 50px;
    }
    @include break(medium){
      padding-right: 35px;
    }
    .faq-section__question-wrapper:first-child{
      .faq-section__question{
        margin-top: 30px;
        @include break(tablet){
          margin-top: 20px;
        }
      }
    }
  }
  &__question-wrapper{
    margin-bottom: 50px;
    max-width: 755px;
    @include break(tablet){
      margin-bottom: 40px;
      &:last-child{
        margin-bottom: 50px;
      }
    }
  }
  &__question{
    margin-bottom: 20px;
    color: $purple;
    @include break(tablet){
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 26px;
    }
  }
  &__answer{
    li,
    p{
      font-size: 20px;
      line-height: 27px;
      color: $black;
      margin-bottom: 10px;
      @include break(tablet){
        font-size: 16px;
        line-height: 22px;
      }
    }
    li{
      margin-bottom: 0;
      padding-left: 30px;
      &::after{
        width: 6px;
        height: 6px;
        background-color: $black;
        left: 12px;
        top: 8px;
      }
    }
    ol{
      li{
        margin-left: 30px;
        padding-left: 0;
      }
    }
  }
}