.hop-onboard{
  background-color: $white;
  padding-top: 100px;
  padding-bottom: 95px;
  @include break(large1370){
    padding-top: 88px;
    padding-bottom: 82px;
  }
  &__container{
    display: grid;
    grid-template-columns: 500px 1fr;
    column-gap: 50px;
    grid-column-gap: 50px;
    position: relative;
    max-width: 1260px;
    @include break(large1470) {
      grid-template-columns: 450px 1fr;
      column-gap: 30px;
      grid-column-gap: 30px;
    }
    @include break(large1370){
      grid-template-columns: 400px 1fr;
    }
    @include break(desktop){
      display: block;
    }
    @include break(medium850){
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .bubble{
    position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		@include break(desktop){
			display: none;
		}
    &-1{
      background-image: url("data:image/svg+xml,%3Csvg width='61' height='64' viewBox='0 0 61 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='54' cy='57' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='15.5' cy='15.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
      width: 61px;
      height: 64px;
      top: -100px;
      left: 15px;
      z-index: 1000;
      @include break(large1370){
        top: -88px;
        @include break(large1370)
      }
    }
  }
  &__content{

  }
  &__title{
    font-size: 50px;
    line-height: 70px;
    text-align: left;
    margin-bottom: 20px; 
    @include break(large1470){
      font-size: 40px;
      line-height: 60px;
    }
    @include break(desktop){
      text-align: center;
    }
    @include break(medium850){
      font-size: 30px;
      line-height: 41px;
      margin-bottom: 35px;
    }
  }
  &__text{
    font-size: 35px;
    line-height: 47px;
    margin-bottom: 0;
    @include break(large1470){
      font-size: 28px;
      line-height: 38px;
    }
    @include break(desktop){
      text-align: center;
    }
    @include break(medium850){
      font-size: 22px;
      line-height: 30px;
    }
  }
  &__link-wrapper{
    margin-top: 40px;
    &-desctop{
      @include break(desktop){
        display: none;
      }
    }
    &-mobile{
      display: none;
      margin-top: 51px;
      @include break(desktop){
        display: block;
        text-align: center;
      }
    }
  }
  &__link{
    
    @include break(desktop){
      min-width: 155px;
    }
  }
  &__list{
    position: relative;
    padding-left: 140px;
    @include break(desktop){
      padding-left: 0;
      margin-top: 70px;
      display: grid;
      grid-template-columns:repeat(2, 1fr);
      column-gap: 30px;
      grid-column-gap: 30px;
      row-gap: 30px;
      grid-row-gap: 30px;
    }
    @include break(medium850){
      row-gap: 54px;
      grid-row-gap: 54px;
    }
    @include break(ss-small){
      grid-template-columns:1fr;
    }
    &-item{
      display: grid;
      grid-template-columns: 92px 1fr;
      column-gap: 30px;
      grid-column-gap: 30px;
      @include break(large1370){
        column-gap: 20px;
        grid-column-gap: 20px;
      }
      @include break(medium){
        display: block;
      }
      &:not(:last-child){
        margin-bottom: 90px;
        @include break(large1370){
          margin-bottom: 60px;
        }
        @include break(desktop){
          margin-bottom: 0;
        }
      }
    }
    &-icon-block{
      background-color: $gray;
      border-radius: 50%;
      width: 92px;
      height: 92px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      @include break(medium){
        margin:0 auto 14px;
      }
    }
    &-icon{
      width: 46px;
      height: 46px;
    }
    &-title{
      font-size: 35px;
      line-height: 47px;
      text-align: left;
      margin-bottom: 14px;
      @include break(medium){
        text-align: center;
        margin-bottom: 18px;
      }
      @include break(medium850){
        font-size: 20px;
        line-height: 26px;
      }
    }
    &-text{
      font-size: 20px;
      line-height: 27px;
      max-width: 415px;
      @include break(large1370){
        br{
          display: none;
        }
      }
      @include break(medium){
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      @include break(medium850){
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  &__svg{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 120px;
    &-desctop{
      @include break(desktop){
        display: none;
      }
    }
    &-mobile{
      position: relative;
      display: none;
      margin-top: 46px;
      width: 100vw;
      margin-left: -15px;
      margin-right: -15px;
      @include break(desktop){
        display: block;
      }
      @include break(medium){
        margin-left: -35px;
        margin-right: -35px;
      }
    }
    
  }
}