.our-partners{
  background-color: $gray;
  padding-top: 75px;
  padding-bottom: 130px;
  @include break(desktop){
    padding-top: 50px;
    padding-bottom: 70px;
  }
  @include break(small){
    padding-bottom: 60px;
  }
  &__container{

  }
  &__title{
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 50px;
    text-align: center;
    @include break(medium){
      font-size: 40px;
      line-height: 45px;
    }
    @include break(small){
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 45px;
    }
  }
  &__wrapper{

  }
  &__block{
    max-width: 1245px;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child){
      margin-bottom: 170px;
      @include break(desktop){
        margin-bottom: 90px;
      }
      @include break(x-small){
        margin-bottom: 60px;
      }
    }
    &-title{
      text-align: center;
      font-size: 22px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 20px;
      @include break(medium){
        margin-bottom: 10px;
      }
      @include break(x-small){
        font-weight: 500;
      }
      
    }
    &-wrapper{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &-item{
      width: 33.333%;
      padding: 0 15px;
      margin:30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @include break(small){
        margin:20px 0;
        width: 50%;
      }
    }
    &-logo-bg{
      background-position: center;
      background-repeat: no-repeat;
      background-color: #F5F6F9; 
      background-blend-mode: multiply;
      background-size: contain;
      max-width: 90%;
      width: auto;
      height: auto;
      @include break(small){
        max-width: 95%;
      }
    }
    &-logo{
      display: block;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: auto;
      /*max-width: 90%;
      width: auto;
      height: auto;
      @include break(small){
        max-width: 95%;
      }*/
    }
  }
}