.page-quote {
	#primary-wrapper {
		overflow: hidden;
	}

	@include break(min1200) {
		.site-header {
			position: sticky;
			.container {
				max-width     : unset;
				width         : auto;
				margin-inline : 90px;
			}
		}
	}
	@include break(small) {
		.site-header {
			.container {
				padding-inline : 45px;

			}
		}
	}
}