.page-lets-work-together {
	.block-form-section__wrapper {
		padding : 40px 120px;
	}

	.contact-form__subtitle {
		font-size     : 24px;
		line-height   : 1.33;
		margin-bottom : 50px !important;
	}

	.contact-form__row-wrapper {
		margin-bottom: 30px;
	}

	.contact-form__row-wrapper__submit {
		justify-content: center;
		position: relative;

		.wpcf7-spinner {
			position: absolute;
			right: 0;
		}
	}


}