.resources-posts-section{
  
  .not-found{
    text-align: center;
  }
  &__container{
    margin-bottom: 80px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    @include break(tablet){
      padding-left: 45px;
      padding-right: 45px;
      margin-bottom: 55px;
    }
    @include break(s-small){
      padding-left: 35px;
      padding-right: 35px;
      margin-bottom: 65px;
    }
    @include break(small-360){
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .loader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(5px);
    z-index: 100;
    .icon-loader{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 100px;
      display: none;
    }
  }
  &__wrapper{
    &-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 30px;
      grid-column-gap: 30px;
      row-gap: 30px;
      column-gap: 30px;
      @include break(tablet){
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        row-gap: 20px;
        column-gap: 20px;
      }
      @media screen and (max-width:767px){
        grid-template-columns: 1fr 1fr;
      }
      @include break(x-small){
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 0;
        row-gap: 40px;
        column-gap: 0;
      }
    }
  }
  .pagination-container{
    margin-top: 85px;
    @include break(tablet){
      margin-top: 55px;
    }
    @include break(s-small){
      margin-top: 65px;
    }
  }
  .post-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      padding: 0;
      margin-bottom: 0;
      &::after{
        display: none;
      }
    }
    .nav-button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: 1px solid $purple;
      padding: 0;
      margin-bottom: 0;
      cursor: pointer;
      transition: .3s linear;
      @include break(s-small){
        width: 33px;
        height: 33px;
        svg{
          width: 11px;
          height: 19px;
        }
      } 
      path{
        transition: .3s linear;
      }
      &:hover{
        background-color: $purple;
        path{
          stroke: $white;
        }
      }
      &.prev{
        margin-right: 10px;
        @include break(s-small){
          margin-right: 5px;
        }
      }
      &.next{
        margin-left: 10px;
        @include break(s-small){
          margin-left: 5px;
        }
      }
    }
    .page{
      font-size: 15px;
      line-height: 20px;
      padding: 0 10px;
      cursor: pointer;
      transition: .3s linear;
      @include break(s-small){
        font-size: 16px;
        line-height: 22px;
      }
      &:hover{
        color: $purple;
      }
      &.selected{
        color: $purple;
        font-weight: 700;
      }
    }
  }
}