.resources-top-banner{
	@include break(s-small){
		min-height: unset;
		height: 100vw;
	}
  &__container{
    text-align: center;
    align-items: center;
  }
  &__image{
    object-position: 50%;
    @include break(s-small){
      min-height: auto;
      max-height: 100vw;
    }
  }
  &__content{
    h1{
      @include break(tablet){
        font-size: 45px;
        line-height: 62px;
      }
      @include break(s-small){
        font-size: 32px;
        line-height: 36px;
      }
    }
  }
}