.resources-search-section{
  background-color: $gray;
  padding-top: 80px;
  padding-bottom: 65px; 
  @include break(tablet){
    padding-top: 20px;
    padding-bottom: 30px; 
  }
  @include break(s-small){
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
  }
  @include break(small-360){
    padding-left: 15px;
    padding-right: 15px;
  }
  &__container{
    @include break(tablet){
      padding-left: 45px;
      padding-right: 45px;
    }
    @include break(s-small){
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__categories-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include break(tablet){
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  &__categories-list{
    max-width: 605px;
    width: 100%;
    
    @include break(large1370){
      max-width: 560px;
    }
    @include break(desktop){
      max-width: 530px;
    }
    @include break(tablet){
      max-width: none;
      margin-bottom: 30px;
    }
    @include break(s-small){
      margin-bottom: 10px;
      padding-bottom: 10px;
      position: relative;
      &:hover{
        .resources-search-section__categories-list-wrapper{
          visibility: visible;
          opacity: 1;
        }
      }
    }
    &-selected{
      background-color: $white;
      border-radius: 75px;
      font-size: 16px;
      line-height: 28px;
      padding-left: 20px;
      padding-right: 25px;
      padding-top: 6px;
      padding-bottom: 6px;
      position: relative;
      display: none;
      @include break(s-small){
        display: block;
      }
      &::after{
        content: '';
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.42504 0.821367C1.19116 0.586624 0.811258 0.585927 0.576514 0.819812C0.341771 1.0537 0.341074 1.4336 0.574959 1.66834L1.42504 0.821367ZM6.00009 6.26331L5.57505 6.68679C5.68938 6.80154 5.84526 6.86519 6.00723 6.86326C6.16921 6.86134 6.32352 6.794 6.43509 6.67656L6.00009 6.26331ZM11.4352 1.4133C11.6634 1.17306 11.6537 0.793282 11.4134 0.565051C11.1732 0.336819 10.7934 0.346557 10.5652 0.586801L11.4352 1.4133ZM0.574959 1.66834L5.57505 6.68679L6.42513 5.83982L1.42504 0.821367L0.574959 1.66834ZM6.43509 6.67656L11.4352 1.4133L10.5652 0.586801L5.56509 5.85006L6.43509 6.67656Z' fill='%230D2D5F'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center right;
        height: 100%;
        width: 12px;
        position: absolute;
        top: 0;
        right: 12px;
        transition: .3s linear;
      }
    }
    &-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @include break(s-small){
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 47px;
        background: #FFFFFF;
        box-shadow: -6px 6px 14px rgba(13, 45, 95, 0.1);
        border-radius: 8px;
        z-index: 100;
        align-items: flex-start;
        visibility: hidden;
        opacity: 0;
        transition: .3s linear;
      }
    }
    &-item{
      @include break(s-small){
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
      }
      &:not(:last-child){
        margin-right: 15px;
        @include break(s-small){
          margin-right: 0;
          border-bottom: 1px solid $violet;
        }
      }
    }
    &-link{
      font-size: 18px;
      line-height: 40px;
      text-transform: capitalize;
      font-weight: 700;
      color: $navy;
      text-decoration: none;

      @include break(s-small){
        font-size: 16px;
        line-height: 22px;
        display: block;
      }
      span{
        position: relative;
        transition: .3s linear;
        &::before{
          content: '';
          display: block;
          width: 0;
          height: 2px;
          left: 0;
          top: 100%;
          position: absolute;
          background-color: $purple;
          transition: .3s linear;
          @include break(s-small){
            background-color: $navy;
            top: auto;
            bottom: 0;
          }
        }
      }
      
      &.active span,
      &:hover span{
        color: $purple;
        @include break(s-small){
          color: $navy;
        }
        &::before{
          width: 100%;
        }
      }
    }
  }
  &__categories-search{
    max-width: 500px;
    margin-left: 95px;
    width: 100%;
    @include break(large1470) {
      max-width: 360px;
    }
    @include break(large1370) {
      max-width: 330px;
      margin-left: 50px;
    }
    @include break(desktop) {
      max-width: 300px;
      margin-left: 25px;
    }
    @include break(tablet){
      margin-left: 0;
      max-width: 75%;
    }
    @include break(s-small){
      max-width: none;
      width: calc(100% - 95px);
    }
    .search-form{
      width: 100%;
      position: relative;
      height: 40px;
    }
    .search-field{
      width: 100%;
      height: 40px;
      font-size: 18px;
      line-height: 24px;
      color: $navy;
      padding: 0 45px 0 20px;
      border-radius: 75px;
      background-color: $white;
      border: 0;
      display: block;
      &::placeholder{
        color: $navy;
      }
    }
    .submit{
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 19px;
      background-color: transparent;
      border: 0;
      z-index: 10;
      padding: 0;
      cursor: pointer;
    }
  }
  &__categories-sorting{
    width: 80px;
    margin-left: 35px;
    /*margin-left: auto;*/
    @include break(large1370){
      margin-left: 20px;
    }
    @include break(tablet){
      margin-left: 25px;
    }
    @include break(s-small){
      margin-left: 15px;
    }
  }
  &__categories-sorting-wrapper{
    position: relative;
    cursor: pointer;
    &:hover{
      .resources-search-section__categories-sorting-options{
        visibility: visible;
        opacity: 1;
      }
      .resources-search-section__categories-sorting-title::after{
        transform: rotate(-180deg);
      }
    }
  }
  &__categories-sorting-title{
    font-size: 18px;
    line-height: 28px;
    padding-right: 15px;
    position: relative;
    &::after{
      content: '';
      display: block; 
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.42504 0.821367C1.19116 0.586624 0.811258 0.585927 0.576514 0.819812C0.341771 1.0537 0.341074 1.4336 0.574959 1.66834L1.42504 0.821367ZM6.00009 6.26331L5.57505 6.68679C5.68938 6.80154 5.84526 6.86519 6.00723 6.86326C6.16921 6.86134 6.32352 6.794 6.43509 6.67656L6.00009 6.26331ZM11.4352 1.4133C11.6634 1.17306 11.6537 0.793282 11.4134 0.565051C11.1732 0.336819 10.7934 0.346557 10.5652 0.586801L11.4352 1.4133ZM0.574959 1.66834L5.57505 6.68679L6.42513 5.83982L1.42504 0.821367L0.574959 1.66834ZM6.43509 6.67656L11.4352 1.4133L10.5652 0.586801L5.56509 5.85006L6.43509 6.67656Z' fill='%230D2D5F'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center right;
      height: 100%;
      width: 12px;
      position: absolute;
      top: 0;
      right: 0;
      transition: .3s linear;
    }
  }
  &__categories-sorting-options{
    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;
    width: 75px;
    padding-top: 15px;
    transition: .3s linear;
    opacity: 0;
    visibility: hidden;
  }
  &__categories-sorting-options-group{
    background-color: $white;
    box-shadow: -6px 6px 14px rgba(13, 45, 95, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  &__categories-sorting-option{
    display: block;
    &:not(:last-child){
      border-bottom: 1px solid $violet;
    }
    &:first-child{
      .resources-search-section__categories-sort-name{
        padding-top: 7px;
      }
    }
    &:last-child{
      .resources-search-section__categories-sort-name{
        padding-bottom: 7px;
      }
    }
  }
  .algolia-search-section__categories-sortby,
  &__categories-sortby{
    display: none;
    position: absolute;
    &:checked + span{
      background-color: $navy;
      color: $white;
    }
  }
  &__categories-sort-name{
    font-size: 16px;
    line-height: 22px;
    padding: 5px;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: .3s linear;
  }
}