.side-animation-list{
  margin-top: 100px;
  margin-bottom: 100px;
  @include break(medium){
    margin-top: 50px;
    margin-bottom: 60px;
  }
  &__container{
    @include break(medium) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  &__title{
    text-align: left;
    max-width: 1145px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 62px;
    padding-right: 50px;
    position: relative;
    @include break(large1750){
      font-size: 50px;
      line-height: 60px;
    }
    @include break(desktop){
      padding-right: 0;
    }
    @include break(medium){
      font-size: 30px;
      line-height: 41px;
      margin-bottom: 30px;
    }
    .bubble{
      position: absolute;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      @include break(desktop){
        display: none;
      }
      &-1{
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        width: 15px;
        height: 15px;
      }
      &-2{
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='3.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        width: 8px;
        height: 8px;
        top: -100px;
        right: 21px;
      }
    }
    
    @include break(large1750){
      font-size: 50px;
      line-height: 60px;
    }
    @include break(medium){
      font-size: 30px;
      line-height: 41px;
      margin-bottom: 30px;
    }
    @include break(desktop){
      padding-right: 0;
    }
  }
  &__text{
    max-width: 1145px;
    margin-bottom: 90px;
    padding-right: 50px;
    font-size: 28px;
    line-height: 38px;
    @include break(large1370){
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 55px;
    }
    @include break(desktop){
      padding-right: 0;
    }
    @include break(small){
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__list{
    &-item{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      min-height: 400px;
      position: relative;
      @include break(small){
        min-height: auto;
      }
      @include break(small){
        display: block;
      }
      .bubble{
        position: absolute;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        @include break(desktop){
          display: none;
        }
        &-0{
         display: none;
        }
        &-1{
          background-image: url("data:image/svg+xml,%3Csvg width='93' height='89' viewBox='0 0 93 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.8652 69.7962C41.8652 69.7962 57.4089 53.6674 69.9643 52.0833C83.5731 50.3792 92.8392 60.0277 92.8392 69.7962C92.8392 79.5648 83.0357 91.1094 69.9643 87.5332C57.6884 84.1491 41.8652 69.7962 41.8652 69.7962Z' fill='%23D8CEF5'/%3E%3Cpath d='M49.6262 69.8201L22 87.6051V52.0111L49.6262 69.8201Z' fill='%23D8CEF5'/%3E%3Cpath d='M10.1191 9.79354C10.1191 9.79354 18.0372 1.5773 24.4331 0.770355C31.3656 -0.0977287 36.0859 4.81734 36.0859 9.79354C36.0859 14.7697 31.0918 20.6507 24.4331 18.829C18.1796 17.105 10.1191 9.79354 10.1191 9.79354Z' fill='%23D8CEF5'/%3E%3Cpath d='M14.0731 9.80587L0 18.8657V0.733763L14.0731 9.80587Z' fill='%23D8CEF5'/%3E%3C/svg%3E%0A");
          width: 93px;
          height: 89px;
          top: 72px;
          right: -93px;
        }
        &-2{
          background-image: url("data:image/svg+xml,%3Csvg width='63' height='119' viewBox='0 0 63 119' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='56' cy='35' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='14' cy='4' r='3.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='15.5' cy='103.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
          width: 63px;
          height: 119px;
          top: 119px;
          left: -32px;
        }
        &-3{
          background-image: url("data:image/svg+xml,%3Csvg width='62' height='45' viewBox='0 0 62 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='55' cy='38' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='15.5' cy='15.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
          width: 62px;
          height: 45px;
          top: -61px;
          right: 70px;
        }
      }
      &:not(:last-child){
        margin-bottom: 70px;
        @include break(large1750){
          margin-bottom: 60px;
        }
      }
      &:nth-child(odd){
        .side-animation-list__list-image-wrapper{
          padding-right: 50px;
          @include break(small){
            padding-right: 30px;
            padding-left: 30px;
          }
        }
      }
      &:nth-child(even){
        .side-animation-list__list-image-wrapper{
          padding-left: 50px;
          order: 2;
          @include break(small){
            order: unset;
            padding-right: 30px;
            padding-left: 30px;
          }
        }
      }
    }
    &-image-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      @include break(tablet){
        padding-left: 50px;
        padding-right: 50px;
      }
      @include break(small){
        margin-bottom: 40px;
      }
    }
    &-svg{
      @include break(small){
        height: 215px;
      }
      svg{
        display: block;
        max-width: 100%;
        height: auto;
        height: 400px !important;
        width: 400px !important;
        @include break(small){
          height: 215px !important;
          width: auto !important;
        }
      }
    }
    &-image{
      display: block;
      max-width: 100%;
      height: auto;
      @include break(small){
        max-width: 300px;
        width: 100%;
      }
    }
    &-content-wrapper{
      display: flex;
      align-items: center;
      max-width: 620px;
      @include break(small){
        max-width: none;
      }
      ul{
        li{
          padding-left: 35px;
          &::after{
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75 1.25C9.75 0.835786 10.0858 0.5 10.5 0.5C10.9142 0.5 11.25 0.835786 11.25 1.25V20.75C11.25 21.1642 10.9142 21.5 10.5 21.5C10.0858 21.5 9.75 21.1642 9.75 20.75V1.25Z' fill='%23744BDA'/%3E%3Cpath d='M16.7824 3.57503C17.0978 3.25961 17.6092 3.25961 17.9246 3.57503C18.2401 3.89045 18.2401 4.40186 17.9246 4.71728L4.21765 18.4243C3.90222 18.7397 3.39082 18.7397 3.0754 18.4243C2.75997 18.1088 2.75997 17.5974 3.0754 17.282L16.7824 3.57503Z' fill='%23744BDA'/%3E%3Cpath d='M20.25 10.25C20.6642 10.25 21 10.5858 21 11C21 11.4142 20.6642 11.75 20.25 11.75L0.75 11.75C0.335787 11.75 -5.08894e-08 11.4142 -3.27836e-08 11C-1.46777e-08 10.5858 0.335787 10.25 0.75 10.25L20.25 10.25Z' fill='%23744BDA'/%3E%3Cpath d='M17.9259 17.2824C18.2414 17.5978 18.2414 18.1092 17.9259 18.4246C17.6105 18.7401 17.0991 18.7401 16.7837 18.4246L3.0767 4.71765C2.76128 4.40222 2.76128 3.89082 3.0767 3.5754C3.39213 3.25997 3.90353 3.25997 4.21895 3.5754L17.9259 17.2824Z' fill='%23744BDA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.501 5C7.18727 5 4.50098 7.68629 4.50098 11C4.50098 14.3137 7.18727 17 10.501 17C13.8147 17 16.501 14.3137 16.501 11C16.501 7.68629 13.8147 5 10.501 5ZM3.00098 11C3.00098 6.85786 6.35884 3.5 10.501 3.5C14.6431 3.5 18.001 6.85786 18.001 11C18.001 15.1421 14.6431 18.5 10.501 18.5C6.35884 18.5 3.00098 15.1421 3.00098 11Z' fill='%23744BDA'/%3E%3Cpath d='M9.75 6.5H11.25V15.5H9.75V6.5Z' fill='%23744BDA'/%3E%3Cpath d='M15 10.25L15 11.75L6 11.75L6 10.25L15 10.25Z' fill='%23744BDA'/%3E%3Cpath d='M12.751 11C12.751 12.2426 11.7436 13.25 10.501 13.25C9.25834 13.25 8.25098 12.2426 8.25098 11C8.25098 9.75736 9.25834 8.75 10.501 8.75C11.7436 8.75 12.751 9.75736 12.751 11Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.501 9.5C9.67255 9.5 9.00098 10.1716 9.00098 11C9.00098 11.8284 9.67255 12.5 10.501 12.5C11.3294 12.5 12.001 11.8284 12.001 11C12.001 10.1716 11.3294 9.5 10.501 9.5ZM7.50098 11C7.50098 9.34315 8.84412 8 10.501 8C12.1578 8 13.501 9.34315 13.501 11C13.501 12.6569 12.1578 14 10.501 14C8.84412 14 7.50098 12.6569 7.50098 11Z' fill='%23744BDA'/%3E%3C/svg%3E%0A");
            width: 21px;
            height: 22px;
            left: 0;
            top: 8px;
            @include break(large1370){
              top: 4px;
            }
            @include break(small){
              top: 0;
            }
          }
        }
      }
      p, li{
        font-size: 28px;
        line-height: 38px;
        @include break(large1370){
          font-size: 22px;
          line-height: 30px;
        }
        @include break(small){
          font-size: 16px;
          line-height: 22px;
        }
        &:not(:last-child){
          margin-bottom: 32px;
        }
      }
    }
  }
}