.single-post{
  .block-form-resources{
    margin-bottom: 0;
    margin-top: 0;
  }
  .our-offices-section.our-offices-section-grey{
    @include break(s-small){
      background-color: $white;
    }
  }
}
.post-single{
  padding-top: 55px;
  padding-bottom: 145px;
  @include break(tablet){
    padding-bottom: 70px;
  }
  @include break(s-small){
    padding-top: 15px;
    padding-bottom: 10px;
  }
  &__container{
    display: grid;
    grid-template-columns: 1fr 275px;
    grid-column-gap: 75px;
    column-gap: 75px;
    @include break(tablet){
      display: block;
    }
    @include break(s-small){
      padding-left: 10px; 
      padding-right: 10px;
    }
  }
  &__wrapper{
    @include break(s-small){
      padding-left: 20px;
      padding-right: 20px;
    }
    .block-form-resources{
      display: none;
      @include break(tablet){
        display: block;
        margin-top: 70px;
        &__container{
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
      }
      @include break(s-small){
        margin-top: 80px;
      }
    }
  }
  &__date-wrapper{
    margin-bottom: 20px;
  }
  &__date{
    font-size: 16px;
    line-height: 20px;
    color: rgba(13, 45, 95, 0.5);
    @include break(large1650){
      font-size: 13px;
      line-height: 16px;
    }
    @include break(s-small){
      display: flex;
      flex-direction: column;
    }
  }
  &__sep{
    padding: 0 9px;
    @include break(s-small){
      width: 100%;
      height: 1px;
      opacity: 0;
    }
  }
  &__content{
    h1,h2,h3,h4,h5,h6{
      text-align: inherit;
    }
    li, p, div{
      font-size: 24px;
      line-height: 30px;
      @include break(large1650){
        font-size: 18px;
        line-height: 24px;
      }
      @include break(tablet){
        font-size: 16px;
        line-height: 22px;
      }
    }
  figcaption {
	  font-size: 80%;
  }
    ul,ol{
      margin-bottom: 30px;
    }
    li{
      padding-left: 30px;
      margin-bottom: 0;
      &::after{
        width: 6px;
        height: 6px;
        background-color: $black;
        left: 12px;
        top: 12px;
        @include break(large1650){
          top: 9px;
        }
        @include break(tablet){
          top: 8px;
        }
      }
    }
    ol{
      li{
        margin-left: 30px;
        padding-left: 0;
      }
    }
    .wp-block-embed{
      &.is-type-video{
        margin: 40px 0;
      }
      
    }
    iframe{
      width: 100%;
      height: 500px;
      @include break(large1650){
        height: 450px;
      }
      @include break(large1470){
        height: 400px;
      }
      @include break(tablet){
        height: 400px;
      }
      @include break(medium){
        height: 365px;
      }
      @include break(x-small){
        height: 220px;
      }
      @include break(small-375){
        height: 165px;
      }
    }
    blockquote{
      padding-left: 40px;
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 40px 0;
      max-width: 870px;
      @include break(large1650){
        max-width: 720px;
      }
      @include break(tablet){
        margin: 50px 0;
        padding-top: 0;
        padding-bottom: 0;
        max-width: 90%;
      }
      @include break(s-small){
        margin: 30px 0;
        padding-left: 21px;
      }
      p{
        font-size: 30px;
        line-height: 38px;
        color: $purple;
        font-weight: 700;
        @include break(large1650){
          font-size: 27px;
          line-height: 38px;
        }
        @include break(s-small){
          font-size: 25px;
          line-height: 32px;
        }
      }
      &::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 100%;
        background-color: $purple;
      }
    }
  }
  &__tags{
    margin-top: 65px;
    max-width: 600px;
    @include break(large1650){
      max-width: 500px;
    }
    @include break(tablet){
      margin-top: 70px;
    }
    @include break(s-small){
      margin-top: 40px;
    }
    &-title{
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 15px;
      @include break(tablet){
        margin-bottom: 25px;
      }
    }
    &-wrapper{
      display: flex;
      flex-wrap: wrap;
    }
    &-tag{
      margin-bottom: 15px;
      color: $purple;
      border: 1px solid $purple;
      text-decoration: none;
      padding: 5px 15px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      font-size: 12px;
      line-height: 16px;
      border-radius: 25px;
      transition: .3s linear;
      @include break(tablet){
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 20px;
      }
      @include break(s-small){
        margin-bottom: 10px;
      }
      &:hover{
        color: $white;
        background-color: $purple;
      }
      &:not(:last-child){
        margin-right: 15px;
        @include break(tablet){
          margin-right: 20px;
        }
        @include break(s-small){
          margin-right: 10px;
        }
      }
    }
  }
  &__back{
    margin-top: 50px;
    width: 11px;
    height: 21px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    @include break(tablet){
      margin-top: 35px;
    }
    @include break(s-small){
      display: none;
    }
  }
  .related-media{
    margin-top: 65px;
    max-width: 775px;
    @include break(medium){
      max-width: 600px;
    }
    @include break(small){
      max-width: 445px;
    }
    @include break(tablet){
      margin-top: 95px;
    }
    @include break(s-small){
      margin-top: 60px;
    } 
    &__title{
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 35px;
      @include break(s-small){
        margin-bottom: 30px;
      }
    }
    &__wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
      column-gap: 30px;
      @include break(tablet){
        grid-column-gap: 20px;
        column-gap: 20px;
      }
      @include break(x-small){
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        column-gap: 0px;
        grid-row-gap: 40px;
        row-gap: 40px;
      }
    }
  }
  &__sidebar{
    position: relative;
    @media screen and (min-width:1031px){
      .block-form-resources{
        margin-top: 0;
        margin-bottom: 0;
        max-width: 275px;
        &.fixed{
          position: fixed;
          top: 110px;
          z-index: 20;
        }
        &.fixed-bottom{
          position: absolute;
          top: auto;
          bottom: 0;
        }
        &__container{
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
        &__wrapper{
          padding: 30px 20px 65px 20px;
          box-shadow: 0px 24px 54px 10px rgba(13, 45, 95, 0.1);
          border-radius: 39px;
        }
        &__title{
          font-size: 25px;
          line-height: 28px;
          padding: 0 20px;
          margin-bottom: 35px;
        }
        .form-col{
          width: 100%;
          margin-bottom: 15px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"],
        textarea{
          font-size: 20px;
          line-height: 27px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered{
          font-size: 20px;
          line-height: 27px;
        }
        .select2-container--default .select2-selection--single{
          height: 31px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow{
          top: 3px;
        }
        .form-submit-wrapper{
          margin-top: 35px;
        }
        .wpcf7-submit{
          font-size: 20px;
          line-height: 27px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .select2-dropdown{
          width: 275px !important;
          margin-left: -20px;
        }
        .select2-results__option{
          font-size: 20px;
          line-height: 27px;
          &::before{
            top: 16px;
          }
        }
      }
    }
    @include break(tablet){
      margin-top: 50px;
      #block-form-sticky{
        display: none;
      }
    }
    @include break(x-small){
      margin-top: 55px;
    }
  }
  &__share-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 55px;
    @include break(tablet){
      margin-bottom: 0;
    }
    .copy-text{
      position: absolute;
      text-align: center;
      left: 0;
      top: 100%;
      width: 100%;
      margin-top: 5px;
      font-size: 16px;
      display: none;
    }
  }
  &__share{
    margin: 0 5px;
    display: block;
    width: 31px;
    height: 31px;
    @include break(x-small){
      margin: 0 10px;
      width: 35px;
      height: 35px;
    }
    &#copy-link-btn{
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:hover{
        circle{
          fill: $purple;
        }
        path{
          fill: $white;
        }
      }
    }
    &:hover{
      path{
        fill: $purple;
      }
    }
    svg{
      width: 100%;
      height: 100%;
      object-fit: cover;
      circle,
      path{
        transition: .3s linear;
      }
    }
  }
}