.thank-you-section{
  margin-top: 275px;
  margin-bottom: 150px;
  @include break(large1650){
    margin-top: 180px;
    margin-bottom: 100px;
  }
  @include break(medium){
    margin-top: 115px;
  }
  &__container{

  }
  &__title{
    text-align: center;
    color: $navy;
    margin-bottom: 0;
  }
  &__text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
    @include break(large1470){
      margin-top: 40px;
      margin-bottom: 40px;
    }
    @include break(x-small) {
      min-height: 200px;
    }
  }
  &__text{
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    @include break(large1470) {
      max-width: 500px;
    }
    @include break(x-small) {
      max-width: 245px;
    }
    p{
      font-size: 35px;
      line-height: 47px;
      @include break(large1650) {
        font-size : 30px;
        line-height: 1.4;
      }
      @include break(large1470) {
        font-size : 25px;
      }
      @include break(medium) {
        font-size : 20px;
      }
      @include break(x-small) {
        font-size : 16px;
      }
    }
    
  }
  &__image-wrapper{

  }
  &__image{
    display: block;
    margin: 0 auto;
    height: auto;
    @include break(medium) {
      max-width: 300px;
    }
    @include break(x-small) {
      max-width: 260px;
    }
  }
  &__socials{
    margin-top: 150px;
    position: relative;
    .bubbels{
      position: absolute;
      z-index: 25;
      background-repeat: no-repeat;
      background-size: contain;
      @include break(tablet) {
        display: none;
      }
      &-1{
        background-image: url("data:image/svg+xml,%3Csvg width='68' height='62' viewBox='0 0 68 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='61' cy='55' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='15.5' cy='15.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        width: 68px;
        height: 62px;
        left: 90px;
        top: 100%;
        @include break(large1470) {
          left: 0;
        }
      }
      &-2{
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='64' viewBox='0 0 60 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='53' cy='7' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='15.5' cy='48.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        width: 60px;
        height: 64px;
        left: 299px;
        top: -88px;
        @include break(large1470) {
          left: 10%;
        }
        @include break(desktop) {
          left: 5%;
        }
      }
      &-3{
        background-image: url("data:image/svg+xml,%3Csvg width='61' height='89' viewBox='0 0 61 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='54' cy='50' r='6.75' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='17.5' cy='84.5' r='4.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3Ccircle cx='15.5' cy='15.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        width: 61px;
        height: 89px;
        top: -4px;
        right: 302px;
        @include break(large1470) {
          right: 10%;
        }
        @include break(desktop) {
          right: 7%;
        }
      }
      &-4{
        background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        width: 31px;
        height: 31px;
        top: -105px;
        right: 131px;
        @include break(large1470) {
          right: 5%;
        }
        @include break(desktop) {
          right: 2%;
        }
      }
      &-5{
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.5' cy='4.5' r='4.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        width: 9px;
        height: 9px;
        bottom: -88px;
        right: 129px;
        @include break(large1470) {
          right: 5%;
        }
        @include break(desktop) {
          right: 3%;
        }
      }
      &-6{
        background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.25' stroke='%23744BDA' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        width: 31px;
        height: 31px;
        bottom: -175px;
        right: 295px;
        @include break(large1470) {
          right: 10%;
        }
      }
    }
    @include break(large1470){
      margin-top: 100px;
    }
    @include break(x-small) {
      margin-top: 70px;
    }
  }
  &__socials-title{
    text-align: center;
    margin-bottom: 54px;
    position: relative;
    z-index: 100;
    font-size: 25px;
    @include break(x-small){
      margin-bottom: 45px;
      font-size: 24px;
      line-height: 30px;
      max-width: 185px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__socials-link {
		background: #FFFFFF;
		box-shadow: 0px 20.4255px 45.9574px 8.51064px rgba(13, 45, 95, 0.1);
		border-radius: 57px;
		margin: 0 40px;
		width : 60px;
		height : 60px;
		transition: opacity 0.3s;
    position: relative;
    z-index: 100;

		@include break(small) {
			width : 50px;
			height : 50px;
			margin: 0 12px;
			background-size: 27px auto;
		}

		&:hover {
			opacity: 0.7;
		}

		&_instagram {
			background : url("data:image/svg+xml,%3Csvg width='32' height='30' viewBox='0 0 32 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.883 7.22014C11.4767 7.22014 7.92244 10.6128 7.92244 14.8189C7.92244 19.025 11.4767 22.4176 15.883 22.4176C20.2894 22.4176 23.8436 19.025 23.8436 14.8189C23.8436 10.6128 20.2894 7.22014 15.883 7.22014ZM15.883 19.7591C13.0355 19.7591 10.7076 17.5436 10.7076 14.8189C10.7076 12.0942 13.0286 9.87871 15.883 9.87871C18.7375 9.87871 21.0585 12.0942 21.0585 14.8189C21.0585 17.5436 18.7306 19.7591 15.883 19.7591ZM26.0261 6.90931C26.0261 7.8947 25.1947 8.68169 24.1693 8.68169C23.137 8.68169 22.3125 7.88809 22.3125 6.90931C22.3125 5.93053 23.1439 5.13693 24.1693 5.13693C25.1947 5.13693 26.0261 5.93053 26.0261 6.90931ZM31.2985 8.70815C31.1807 6.33395 30.6126 4.2309 28.7904 2.4982C26.9752 0.765496 24.772 0.223201 22.2848 0.10416C19.7213 -0.0347202 12.0378 -0.0347202 9.47438 0.10416C6.99405 0.216588 4.79086 0.758883 2.96872 2.49158C1.14658 4.22429 0.585392 6.32733 0.460683 8.70153C0.315189 11.1485 0.315189 18.4827 0.460683 20.9296C0.578464 23.3038 1.14658 25.4069 2.96872 27.1396C4.79086 28.8723 6.98713 29.4146 9.47438 29.5336C12.0378 29.6725 19.7213 29.6725 22.2848 29.5336C24.772 29.4212 26.9752 28.8789 28.7904 27.1396C30.6056 25.4069 31.1738 23.3038 31.2985 20.9296C31.444 18.4827 31.444 11.1551 31.2985 8.70815ZM27.9868 23.5551C27.4463 24.8514 26.4002 25.85 25.0353 26.3724C22.9915 27.1462 18.1417 26.9676 15.883 26.9676C13.6244 26.9676 8.76769 27.1396 6.73078 26.3724C5.37284 25.8566 4.32667 24.858 3.77933 23.5551C2.96872 21.6042 3.15579 16.9748 3.15579 14.8189C3.15579 12.6629 2.97565 8.02697 3.77933 6.08264C4.31974 4.78642 5.36591 3.7878 6.73078 3.26535C8.77462 2.49158 13.6244 2.67014 15.883 2.67014C18.1417 2.67014 22.9984 2.4982 25.0353 3.26535C26.3933 3.78119 27.4394 4.77981 27.9868 6.08264C28.7974 8.03358 28.6103 12.6629 28.6103 14.8189C28.6103 16.9748 28.7974 21.6108 27.9868 23.5551Z' fill='%230D2D5F'/%3E%3C/svg%3E%0A") center center no-repeat;

			@include break(small) {
				background-size: 27px auto;
			}
		}

		&_facebok {
			background : url("data:image/svg+xml,%3Csvg width='16' height='32' viewBox='0 0 16 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6742 17.8071L15.479 12.1898H10.4472V8.54455C10.4472 7.00777 11.1501 5.50978 13.4037 5.50978H15.6912V0.727275C15.6912 0.727275 13.6153 0.347778 11.6306 0.347778C7.48672 0.347778 4.77811 3.0382 4.77811 7.90862V12.1898H0.171875V17.8071H4.77811V31.3865H10.4472V17.8071H14.6742Z' fill='%230D2D5F'/%3E%3C/svg%3E%0A") center center no-repeat;

			@include break(small) {
				background-size: auto 27px;
			}
		}

		&_twitter {
			background : url("data:image/svg+xml,%3Csvg width='32' height='28' viewBox='0 0 32 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.8482 7.15801C27.8679 7.45879 27.8679 7.75963 27.8679 8.06041C27.8679 17.2345 21.4671 27.8051 9.76853 27.8051C6.1644 27.8051 2.81634 26.6664 0 24.6898C0.512078 24.7542 1.00439 24.7757 1.53617 24.7757C4.51001 24.7757 7.2476 23.68 9.43371 21.8108C6.63707 21.7464 4.29341 19.7483 3.48591 16.9982C3.87984 17.0626 4.2737 17.1056 4.68733 17.1056C5.25845 17.1056 5.82964 17.0196 6.36136 16.8693C3.44657 16.2247 1.2604 13.4316 1.2604 10.0585V9.97259C2.10724 10.4882 3.09205 10.8105 4.13579 10.8534C2.42235 9.60727 1.29981 7.48028 1.29981 5.07394C1.29981 3.78487 1.61486 2.60319 2.16634 1.5719C5.2978 5.78296 10.0048 8.533 15.2829 8.83384C15.1845 8.31819 15.1254 7.78112 15.1254 7.24399C15.1254 3.41961 17.9614 0.304321 21.4867 0.304321C23.3183 0.304321 24.9726 1.14223 26.1347 2.49579C27.5723 2.19502 28.9509 1.61489 30.1721 0.819965C29.6993 2.43138 28.6949 3.78493 27.3754 4.64427C28.6556 4.49395 29.8963 4.10714 31.0386 3.57007C30.1722 4.94505 29.0889 6.16965 27.8482 7.15801Z' fill='%230D2D5F'/%3E%3C/svg%3E%0A") center center no-repeat;

			@include break(small) {
				background-size: 27px auto;
			}
		}

		&_linkedin {
			background : url("data:image/svg+xml,%3Csvg width='30' height='32' viewBox='0 0 30 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.49926 31.4301H6.96062V9.89696H1.49926V31.4301ZM4.22994 0.391357C2.40949 0.391357 0.953125 1.94329 0.953125 3.88321C0.953125 5.82313 2.40949 7.37507 4.22994 7.37507C6.05039 7.37507 7.50675 5.82313 7.50675 3.88321C7.50675 1.94329 6.05039 0.391357 4.22994 0.391357ZM16.2449 13.1948V9.89696H10.7836V31.4301H16.2449V20.3725C16.2449 14.1648 23.7088 13.7768 23.7088 20.3725V31.4301H29.1701V18.2386C29.1701 7.76305 18.7936 8.15104 16.2449 13.1948Z' fill='%230D2D5F'/%3E%3C/svg%3E%0A") center center no-repeat;

			@include break(small) {
				background-size: auto 27px;
			}
		}
	}

	&__socials-links {
		display: flex;
		justify-content : center;
	}
}