#welcome-popup{
  &.popup{
    .popup-wrapper-inner{
      max-width: 500px;
	    height: 500px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
      box-shadow: 20px 24px 60px rgba(13, 45, 95, 0.1);
      border-radius: 42px;
      padding:30px 20px 30px 20px;
      @include break(small){
        max-width: 355px;
        width: 97% !important;
        padding:70px 23px 35px 23px;
      }
    }
    button.popup-close{
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6385 20.6372V20.6352L11.0002 10.9973L10.9988 10.9986L20.6385 20.6372ZM10.9988 10.9986L1.36184 1.36536L10.9988 10.9986ZM20.6345 22C20.2858 22 19.9384 21.8669 19.6736 21.6001L10.9988 12.9257L2.32673 21.6001C1.79438 22.1304 0.933289 22.1357 0.39827 21.6001C-0.132757 21.0664 -0.132757 20.2027 0.39827 19.6717L9.07303 11.0006L0.39827 2.32888C-0.132757 1.79522 -0.132757 0.931504 0.39827 0.400499C0.927965 -0.132501 1.79172 -0.134497 2.32673 0.400499L10.9988 9.07158L19.6736 0.400499C20.2046 -0.130505 21.0631 -0.134497 21.5994 0.400499C22.1331 0.934831 22.1304 1.79522 21.5994 2.32556L12.9273 10.9973L21.6021 19.6717C22.1331 20.2054 22.1331 21.0664 21.5994 21.6001C21.3332 21.8663 20.9832 21.9993 20.6345 22Z' fill='%23121213'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      right: 30px;
      top: 30px;
      opacity: 1;
      filter:none;
    }
  }
  .welcome-popup{
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    &__image-wrapper{
      margin-left: auto;
      margin-right: auto;
      max-width: 255px;
      @include break(small){
        max-width: 255px;
      }
    }
    &__image{
      display: block;
      width: 100%;
      height: auto;
    }
    &__title{
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 10px;
      z-index: 10;
      @include break(small){
        margin-top: -10px;
        font-size: 30px;
        line-height: 40px;
      }
    }
    &__text{
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #121213;
      @include break(small){
        font-size: 20px;
        line-height: 27px;
      }
    }
    &__button-wrapper{
      margin-top: 25px;
      text-align: center;
      @include break(small){
        margin-top: 35px;
      }
    }
    &__button{
      font-size: 22px;
      line-height: 27px;
      padding: 10px 35px;
      @include break(small){
        width: 100%;
        max-width: 100%;
        padding: 20px;
        text-align: center;
      }
    }
  }
}