.block-seo-step7-section {
	text-align  : center;
	padding-top : 66px;

	.block-seo-step7 {
		.block-seo-step7-title {
			font-size     : 50px;
			line-height   : 67.5px;
			margin-bottom : 20px;
			@media (max-width : 991px) {
				font-size   : 30px;
				line-height : 35px;
			}
		}

		.block-seo-step7-wrap-content {
			display     : flex;
			align-items : center;
			overflow    : auto;
			@media (max-width : 991px) {
				flex-wrap       : wrap;
				justify-content : center;
				margin-top      : 28px;
			}

			&__text {
				text-align   : left;
				flex         : 1;
				margin-right : 20px;
				font-size    : 35px;
				line-height  : 47.25px;
				@media (max-width : 991px) {
						text-align            : center;
						flex                  : inherit;
						font-size             : 16px;
						line-height           : 21.6px;
						width                 : 95%;
						display               : flex;
						align-items           : center;
						margin                : 0 auto;
						flex-direction        : column;
				}
			}
			&__image{
				flex: 0 0 auto;
				width: 46%;
				@media (max-width: 991px) {
					width : 235px;
				}
			}
		}
	}
}
.btn-cabin-cruiser{
	appearance: none;
	background: #744BDA;
	border-radius: 100px;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	justify-content: center;
	padding: 12px 30px;
	font-family: Satoshi, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	color: #FFFFFF;
	text-decoration: none;
	border: none;
	text-align: center;
	transition: background-color 0.4s ease;
	margin-top:10px;
	margin-bottom:10px;
	@media only screen and (max-width: 1199px) {
		font-size: 18px;
		line-height: 24px;
		padding: 7px 28px;
	}
}
.background-white .btn-cabin-cruiser, .background-gray .btn-cabin-cruiser, .background-violet .btn-cabin-cruiser{
	color:white;
}
.background-purple .btn-cabin-cruiser{
	color:#744BDA;
	background-color:white;
}